/web/bundles/
/web/media/*
!/web/media/.gitkeep
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/bin/
/composer.phar
/.idea/
/app/config/parameters.yml