<p>
    Среди коллекций стеклотканевых обоев Витрулан есть уникальные покрытия серии 
    Aqua Plus.  Это линия инновационных стеклообоев, которые можно клеить 
    без нанесения клея. Клеевой состав уже нанесен на тыльную сторону 
    стеклообоев. Все, что  нужно сделать, – это активировать его путем 
    смачивания в обычной проточной воде.
</p>
<p>
    Для равномерного нанесения воды на стеклообои Aqua Plus мы 
    предлагаем специально разработанную машину Аква-Квик. Просто наполните 
    машину водой, протяните рулон через Аква-квик, подождите, пока клеевой 
    состав активируется,  и  начинайте клеить.
</p>
<p>
    Клеить стеклообои Витрулан с машиной  Аква-Квик невероятно 
    легко и быстро . Мы разработали две модели машины – экономичную 
    Aqua-Quick, для отделки небольших помещений, частных интерьеров, и 
    аква-машину  Aqua-Quick professional для профессионалов, которая будет 
    незаменимым помощником при отделке крупных строительных объектов.
</p>

<h5>Аква-машина Aqua-Quick</h5>
<table class="table">
    <tr>
        <td>
            <p>
                Компакнтная аква-машина Аква-Квик специально создана для работы со стеклотканевыми 
                обоями Витрулан Aqua Plus на небольших объектах и в частных интерьерах. 
                Она изготовлена из легкой, но особо прочной и высококачественной 
                пластмассы. С ней удобно работать, и она занимает совсем мало места.
            </p> 
            <h6>Экономьте Ваши время, деньги и усилия!</h6> 
            <ul>
                <li>Не нужно покупать клей и многочисленные инструменты для работы, достаточно только  машины Аква-Квик.</li>
                <li>Остается больше свободного места для других строительных материалов.</li>
                <li>Клеить стеклообои с Авка-квик очень легко и быстро.</li>
                <li>Экономия до 40% рабочего времени.</li>
                <li>чистое рабочее место: никаких капель или остатков клея на стройплощадке.</li>
            </ul>            
        </td>
        <td class="span6"><img src="{{ asset('bundles/spbshop/img/aqua-quick.jpg') }}" alt="Аква-машина Aqua-Quick" class="thumbnail"></td>    
    </tr>
</table>

<h5>Аква-машина Aqua-Quick professional</h5>
<table class="table">
    <tr>
        <td>
            <p>
                Аква-машина Aqua-Quick professional – профессиональное решение для настоящих 
                профессионалов. Эта долговечная, легкая и компактная машина изготовлена из 
                алюминия. Она быстро и просто собирается и разбирается, а для удобства работы 
                в дополнение предлагается приставной стол, на котором можно раскладывать 
                отдельные полотна стеклообоев. Встроенный счетчик позволит Вам отмерять полотна необходимой длины.
            </p> 
            <h6>Экономьте Ваши время, деньги и усилия!</h6> 
            <ul>                
                <li>Не нужно покупать клей и многочисленные инструменты для работы, достаточно только машины Аква-Квик.</li>
                <li>Клеить стеклообои с Авка-квик очень легко и быстро.</li>
                <li>Удобно наливать и сливать воду.</li>
                <li>Удобно отрезать ровные полотна стеклообоев нужной длины.</li>
                <li>Экономия до 40% рабочего времени.</li>
                <li>чистое рабочее место: никаких капель или остатков клея на стройплощадке.</li>
            </ul>            
        </td>
        <td class="span6"><img src="{{ asset('bundles/spbshop/img/aqua-quick-professional.jpg') }}" alt="Аква-машина Aqua-Quick professional" class="thumbnail"></td>    
    </tr>
</table>
