{% extends 'SpbShopBundle::layout.html.twig' %}

{% block title %} 
Советы по монтажу
{% endblock %}

{% block body %}

<ul class="breadcrumb">
    <li><a href="{{ path('spb_home') }}">Главная</a> <span class="divider">/</li>
    <li class="active">Советы по монтажу</li>
</ul>

<div class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
        <li><a href="{{ path('spb_montazh_potolkov')}}">Монтаж потолочных систем</a></li>
        <li><a href="{{ path('spb_montazh_fasadov')}}">Монтаж фасадных систем</a></li>
    </ul>
</div>

<h5>Монтаж подвесных реечных потолков.</h5>
<p>
    Работы по монтажу подвесного потолка «Албес» должны производиться в 
    соответствии с проектной документацией, проектом производства работ и 
    действующими нормативными документами. Монтаж потолка должен 
    производиться специалистами, аттестованными и имеющими лицензию на 
    проведение данного вида работ, при наличии необходимого набора 
    инструмента и инвентаря.
</p>
<p>
    Монтаж реечных подвесных потолков осуществляется в следующей последовательности:
</p>
<ol>
    <li>
        <h5>Подготовка к монтажу</h5>
        <ol>
            <li>
                Подготовка несущего основания:
                <ul>
                    <li>очистить и загрунтовать поверхность несущего основания,</li>
                    <li>очистить, заделать и обработать все швы и дефекты несущего основания</li>
                    <li>закрепить все коммуникации, предотвратив их расположение или падение на подвесной потолок </li>
                    <li>завершить все работы в запотолочном пространстве (коммуникационные работы: 
                        электромонтажные; линии противопожарного обеспечения; воздухо-водные каналы и т.д.) </li>
                </ul>
            </li>
            <li>
                Организация рабочей площадки:
                <ol>
                    <li>
                        выбор размеров рабочей площадки для работы с панелями подвесного 
                        потолка должен производиться исходя из параметров самого длинномерного
                        элемента потолка (Lпанели = 3,0 – 6,0 м.);
                    </li>
                    <li>
                        площадка должна находиться в огороженной, защищенной от пыли и 
                        транспортного потока зоне; элементы потолка тонкостенные алюминиевые 
                        профили требуют аккуратного отношения при погрузке-выгрузке, 
                        складировании и монтаже.
                    </li>
                </ol>
            </li>
        </ol>
    </li>
    <li>
        <h5>Разметка</h5>
        Визуально определить качество отделки стены (ровность поверхности) и выбрать наиболее 
        качественную, от которой и произвести разметку. От выбранной стены на расстоянии 300 мм.
        параллельно ей разметить 1-ую ось (ось гребёнок).Перпендикулярно 1-ой оси на расстоянии 
        300 мм. от другой стены разметить 2-ую ось (ось реек).
    </li>
    <li>
        <h5>От исходных осей разметить ортогональную сетку точек крепления регулируемого подвеса.</h5>
        Разметка ортогональной сетки осуществляется по следующим условиям:
        <ol>
            <li>
                Точки крепления подвеса к несущему основанию лежат на оси гребенок.
            </li>
            <li>
                Шаг гребенок не более 1200 мм.
            </li>
            <li>
                Шаг подвеса по оси гребенки не более 1200 мм.
            </li>
            <li>
                Консоль гребенки не более 400 мм.
            </li>
            <li>
                Консоль потолочной рейки не более 300 мм.
            </li>
        </ol>
    </li>
    <li>
        <h5>
            Разметить местоположение врезаемых в подвесной потолок элементов 
            (светильников, инженерных коммуникаций, элементов декора и др.)
        </h5>
    </li>
    <li>
        <h5>
            На согласованный с заказчиком уровень плоскости подвесного потолка, по
            периметру помещения наносится отметка периметриального профиля. Уровень
            плоскости определяется относительно горизонта или имеющихся дверных и 
            оконных проёмов.
        </h5>
    </li>
    <li>
        <h5>По произведенной разметке производится крепление:</h5>
        <ol>
            <li>
                Регулируемого подвеса к несущему основанию. Марка крепёжного элемента 
                определяется проектом в зависимости от материала несущего потолка и марки подвесного потолка.
            </li>
            <li>
                Периметриального профиля (PL, PC, PLL). Марка крепёжного элемента определяется проектом в 
                зависимости от материала несущего потолка.
            </li>
        </ol>
    </li>
    <li>
        <h5>Монтаж гребенок</h5>
        <ol>
            <li>
                Монтаж гребёнок производить со стороны наибольшего отклонения 2-ой оси от «параллельной» 
                ей стены, соблюдая соосность гребёнок. Соосность – параллельность осе гребенок с совпадением
                их шага. Если кратность длины потолка позволяет начать монтаж реек с целой рейки
                то соответственно монтируется и первая гребёнка, иначе первая гребёнка устанавливается 
                согласно принятой кратности реек длине.
            </li>
            <li>
                После монтажа всех гребёнок произвести выравнивание гребёнок в единую плоскость посредством 
                регулируемого подвеса.
            </li>
            <li>
                Установить светильники (кроме точечных) и другие необходимые коммуникации в проектное положение 
                на независимом каркасе, не опирающемся на гребёнки .
            </li>
            <li>
                Проверить соосность гребёнок.
            </li>
        </ol>
    </li>
    <li>
        <h5> Монтаж реек</h5>
        <ol>
            <li>
                Приступить к монтажу рейки только после завершения всех коммуникационных работ и окончательной 
                проверки всех гребёнок на соосность и соответствие принятой плоскости.
            </li>
            <li>
                Последовательно установить потолочную рейку в гребенки. Рейка должна свободно защелкиваться в 
                гребенку, при возникновении напряжений проверить соосность и плоскостность гребенок. Плоскостность – 
                соответствие всех гребенок единой плоскости.
            </li>
        </ol>
    </li>
    <li>
        <h5>
            Окончательная проверка готового потолка производится визуально или при помощи имеющихся измерительных 
            приборов на предмет плоскости потолка.
        </h5>
    </li>
</ol>
<h5>Рекомендации по монтажу реечных фасадных систем.</h5>
<ol>
    <li>
        Гребенки-направляющие реечных фасадных систем устанавливаются с шагом 1000 мм (определяемым 
        проектом) и крепятся к несущим конструкциям крепежными фасадными 
        элементами (дюбель-шуруп, анкер-клин) с шагом 400-600 мм, при этом 
        свободный конец рейки не должен быть более 300 мм, а свободный конец 
        гребенки не более 400 мм. 
    </li>
    <li>
        Выбор типа и марки крепежного элемента зависит от материала несущей 
        конструкции, ветрового района и высоты облицовываемого здания, марки 
        фасадной системы и определяется проектом, после проведения на объекте 
        соответствующих испытаний.
    </li>
    <li>
        При облицовке стен, имеющих неровности менее 3мм/м.п., используются 
        выравнивающие металлические прокладки, устанавливаемые в местах 
        крепления гребенки. При больших неровностях облицовываемых стен 
        необходимо устройство дополнительного выравнивающего каркаса, к которому
        крепятся направляющие-гребенки.
    </li>
    <li>
        Несущий профиль – гребенка изготавливается из оцинкованной стали, и 
        обладает достаточной коррозиестойкостью, не требуя дополнительных 
        покрытий в построечных условиях. В случае использования для 
        выравнивающего каркаса «чернового» металла, необходимо до устройства 
        облицовки выполнить его антикоррозийную защиту.
    </li>
    <li>
        При высоте стены более 4 м стыковку реек предлагается выполнять с 
        помощью стыковочных профилей марки РТ, РО, крепящихся к рейкам вытяжной 
        заклепкой в шахматном порядке.
    </li>
    <li>
        Облицовка стен может принимать изогнутые формы с радиусом закругления, 
        зависящим от ширины рейки, но не менее 3,0 м. В направляющих-гребенках 
        (только для гребенок марки ВТ-2) делаются частичные надрезы с шагом, 
        зависящим от радиуса закругления и кратным ширине реек. Каждый элемент 
        гребенки крепится дюбелями (не менее 2-х штук на один элемент). 
        Облицовка выполняется в форме многогранника, вписанного в принятую 
        кривую закругления (см. л. 72). 
    </li>
    <li>
        <h6>Не допускается:</h6>
        <ul>
            <li>
                крепление каких-либо элементов непосредственно на фасадную систему 
                «Албес», каждый такой элемент следует устанавливать на независимый 
                каркас, не опирающийся на фасадную систему;
            </li>
            <li>
                при облицовке стен применять элементы потолочных систем (рейки и 
                направляющие-гребенки) ввиду их недостаточной жесткости по сравнению с 
                фасадными системами.
            </li>
        </ul>
    </li>
</ol>
<h5>Рекомендации по монтажу фасадной системы сайдинг.</h5>
<ol>
    <li>Монтаж фасадной системы сайдинг начинается с установки несущего выравнивающего каркаса. </li>
    <li>Выравнивание плоскости вертикальных стоек выполняется за счет смещения профиля ПП-1-3 в пределах полок прямого подвеса. </li>
    <li>После установки и закрепления стоек болтами, лапки подвеса при необходимости отгибаются. </li>
    <li>Промежуточные опоры вертикальных стоек выполняются в виде Г-образного кронштейна из того же профиля, что и стойки. </li>
    <li>Устанавливается такой кронштейн с двух сторон стойки с шагом не более 600 мм. </li>
    <li>Шаг вертикальных направляющих выравнивающего каркаса не должен превышать 500 мм.</li>
    <li>Монтаж панелей А250/СД начинается с нижнего стартового профиля PU, в который вставляется и закрепляется первая рейка А250/СД. </li>
    <li>Рейка крепится непосредственно к выравнивающему каркасу саморезами по металлу или вытяжной заклепкой. </li>
    <li>Рейки монтируются только горизонтально (снизу вверх). </li>
    <li>Каждая последующая рейка соединяется с предыдущий в замок. </li>
    <li>Лабиринтный профиль замка надежно соединяет рейки, предотвращая вибрации и попадание воды за облицовку. </li>
    <li>Ряд саморезов крепления верхней рейки накрывается завершающим профилем PZ.</li>
    <li>
        Для обеспечения качества фасада и получения его безупречного вида необходимо:
        <ul>
            <li>не допускать отклонение несущего каркаса от вертикали более 1 мм на 1м.п;</li>
            <li>соблюдать соосность несущего вертикального каркаса;</li>
            <li>тщательно подготовить стартовую часть; стартовый профиль PU необходимо устанавливать строго по уровню;</li>
        </ul>
    </li>
</ol>
{% endblock %}