<p>
    Металлический сайдинг все чаще применяется строителями как современный 
    высокотехнологичный материал с широкими декоративными возможностями. 
    <br><br>
    Обусловлено это тем, что сохраняя практически все преимущества сайдинга из винила, 
    металлический сайдинг намного прочнее и устойчивее к механическим воздействиям. 
</p>

<h5>Преимущества:</h5>
<ul>
    <li>Материал не горюч, экологически безопасен, устойчив к деформациям при температурных перепадах.</li>
    <li>Сайдинг прост в эксплуатации, не требует какой-нибудь покраски или обновления в течение всего срока службы. </li>
    <li>Широкая цветовая гамма в совокупности с разноплановыми фактурами позволяет придать облику здания современный и аккуратный внешний вид. </li>
    <li>Специальные доборные элементы позволят с легкостью решить задачу оформления любого дизайнерского проекта. </li>
</ul>

<h5>Описание:</h5>
<ul>
    <li>Система сайдинга представляет собой конструкцию, состоящую из горизонтально набранных реек, образующих рельефную поверхность «корабельная доска». </li>
    <li>Рельеф задается профилируемой фасадной рейкой марки А250/СД. Лабиринтные замковые части реек жестко скрепляют собираемые рейки между собой, надежно удерживая их и предотвращая проникновение влаги за облицовочную часть. Положение рейки на фасаде – только горизонтальное.</li>
</ul>
<h5>Технические характеристики:</h5>

<h5>Материал:</h5>
<ul>
    <li>Оцинкованная сталь толщиной 0,4; 0,46; 0,5 мм</li>
    <li>Покрытие: полиэстер, порошковое окрашивание</li>
</ul>
<h5>Размеры:</h5>
<ul>
    <li>Ширина профиля общая – 270,5 мм</li>
    <li>Ширина профиля рабочая – 235 мм</li>
    <li>Высота кромки профиля – 11,4 мм</li>
    <li>Длина профиля – любая до 6 м</li>
</ul>
<h5>Возможности цветового исполнения:</h5>
<ul>
    <li>Цвета: белый, бежевый, серый, зеленый, желтый, коричневый, красный</li>
    <li>Цветофактуры: дерево различных типов, мрамор, гофрированная поверхность.</li>
    <li>Порошковое окрашивание в любой цвет</li>
</ul>
<h5>Другие характеристики:</h5>
<ul>
    <li>Масса на м.кв. – до 4,5 кг</li>
    <li>Срок службы – до 50 лет</li>
</ul>
<h5>Сертификаты:</h5>
<ul>
    <li>Сертификат Соответствия</li>
    <li>Сертификат Пожарной Безопасности</li>
    <li>Санитарно-Эпидемиологическое заключение</li>
</ul>
<p>
    <img class="thumbnail" src="{{ asset('bundles/spbshop/img/683_3212_61.1.png') }}" >
</p>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м <sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="7">1</td>
            <td rowspan="7">Сайдинг</td>
            <td>Рейка</td>
            <td>A250/CД</td>
            <td>250</td>
            <td>4,0 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Направляющая</td>
            <td>ПП 60х27</td>
            <td>&lt;500</td>
            <td>2,0 п.м.</td>
        </tr>
        <tr>
            <td>Направляющая</td>
            <td>ППН-2</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Прямой подвес</td>
            <td>&nbsp;</td>
            <td>&lt;600x500</td>
            <td>3,3 шт.</td>
        </tr>
        <tr>
            <td>Опорный профиль</td>
            <td>PU</td>
            <td>&nbsp;</td>
            <td rowspan="3">В зависимости от габарита и формы обшиваемой плоскости стены</td>
        </tr>
        <tr>
            <td>Опорный профиль</td>
            <td>PZ</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL 50x50</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
