<p>
    Создание «INGERMAX» — это поиск оптимального решения, сочетающего выполнение требований стандартов и Правил GMP для высокотехнологичного производства и стремление сократить капитальные и эксплуатационные затраты.<br>
    <br>
    Облицовка «INGERMAX» устроена так, чтобы свести к минимуму поступление, выделение и удержание частиц внутри помещения. Также при необходимости, можно контролировать другие параметры, например, температуру, влажность и давление.<br>
    <br>
    «INGERMAX» необходимы для производства продукции в таких отраслях как аэрокосмическая, микроэлектронная, фармацевтическая и пищевая промышленность, производство медицинских изделий и здравоохранение. В медицинских учреждениях чистые помещения необходимы в операционном блоке, палате реанимации, интенсивной терапии и родильном отделении.<br>
    <br>
    Окончательный вариант проекта появляется в результате творческого поиска и анализа множества возможных решений. Это особенно важно при реконструкции производств, когда в стесненных условиях старых зданий приходится создавать чистые помещения высоких классов.<br>
</p>

<p>
     Готовая инженерная система «INGERMAX» производства ЗАО «АСП-Инжиниринг» включает в себя:
</p>
<ul>
    <li>потолочные кассеты различных типоразмеров </li>
    <li>на скрытой и открытой подвесной системе</li>
    <li>стеновые и воздухозаборные панели</li>
    <li>рамки крепления светильников</li>
    <li>технологические люки</li>
    <li>радиусные плинтуса</li>
    <li>элементы обрамления дверей и окон</li>
    <li>отбойники</li>
</ul>
<p>
    Все элементы облицовочных конструкций для «INGERMAX» производства ЗАО «АСП-Инжиниринг» выполнены из оцинкованной стали и алюминия, полностью соответствуют международным и отечественным стандартам качества.<br>
    <br>
    Материалы, используемые при производстве облицовочных конструкций выбраны с учетом:
</p>
<ul>
    <li>классов чистоты</li>
    <li>износостойкости и сопротивления ударным нагрузкам</li>
    <li>методов уборки, дезинфекции и их периодичности</li>
    <li>воздействия химических и микробиологических факторов и коррозии</li>
</ul>
<p>
    Стены и потолки «INGERMAX» сконструированы так, чтобы доступ для очистки поверхностей был свободным. Элементы стен и потолка соответствуют требованиям пожаробезопасности, звуко- и теплоизоляции.<br>
    <br>
    Для предотвращения проникновения частиц и других загрязнений из запотолочного пространства, потолки должны быть герметизированы. Крепление фильтров, монтажных рам фильтров и диффузоров, смонтированных на потолке, также должно быть герметичным. Отверстия для коммунальных целей, спринклеров и светильников должны быть сведены к минимуму и герметизированы.<br>
    <br>
    Особое внимание при производстве стеновых панелей уделяется их устойчивости к удару и износу, особенно в местах частого движения тележек или персонала.
</p>