<dl>
    <dt>Удобство монтажа</dt>
    <dd>установка L-профилей на решетку не требует дополнительных операций по его закреплению</dd>
    <dt>Стабильный цвет</dt>
    <dd>разнотон Т-профиля и решеток исключен</dd>
    <dt>Идентичный материал изготовления</dt>
    <dd>система т-профиль и решетки изготовлены из одного сырья</dd>
    <dt>Жесткость конструкции</dt>
    <dd>наличие дополнительных ребер жесткости</dd>
    <dt>Равномерность потолочного пространства</dt>
    <dd>единый уровень т-профиля и решеток Грильято</dd>
</dl>  

<strong>Назначение</strong>
<p>
    Система разработана и предлагается к установке (монтажу) как на возводимых объектах, так и в эксплуатируемых помещениях с подвесными потолками устаревшего дизайна или потолками, требующими замены по причине утраты внешнего вида.
</p>

<strong>Область применения</strong>
<ol>
    <li>
        бутики, торговые и выставочные залы;</li>
    <li>
        престижные офисы и приемные;</li>
    <li>
        залы ресторанов и холлы гостиниц;</li>
    <li>
        фойе концертных залов, театров и кинотеатров;</li>
    <li>
        рекреации спортивно-развлекательных комплексов;</li>
    <li>
        аэропорты, железнодорожные и автовокзалы.</li>
</ol>

<strong>Описание</strong>
<p>
    Cистема состоит из отдельных объемных решеток образованных пересекающимися окрашенными профилями. По периметру решетка обрамлена L-образными окрашенными профилями. Каждая отдельная решетка легко вставляется в кашпо подвесной системы «Т-профиль» шириной 24 мм. По завершению монтажа решеток на подвесную систему поверхность производит впечатление сплошной (непрерывной) конструкции.
</p>
