<strong>Область применения:</strong>
<p>
    Потолок Грильято «Жалюзи» идеально подходит для оформления потолочного пространства 
    в местах максимального вывода инженерных коммуникаций и потолочного пространства 
    ограниченной ширины.
</p>
<strong>Преимущества:</strong>
<ul>
    <li>Грильято "Жалюзи" позволяет визуально расширить объем помещения</li>
    <li>Возможность скрыть все инженерные коммуникации, не препятствуя работе с ними</li>
</ul>
<strong>Описание:</strong>
<ul>
    <li>
        Потолок Грильято «Жалюзи» представляет собой объемную решетку 600х1200 мм,
        образованную параллельными U-образными алюминиевыми профилями - шириной
        10 мм и высотой 50 мм (элемент «мама» и направляющая) и поперечными
        профилями шириной 10 мм и высотой 30 мм (элемент «папа»).
    </li>
    <li>
        Эффект «жалюзи» достигается за счет разницы высот параллельных и поперечных профилей.
    </li>
</ul>

<strong>Схема монтажа</strong>
<img class="thumbnail" title="Схема монтажа потолка грильято" src="{{ asset('bundles/spbshop/img/676_39.1.png') }}">
<br/>

<strong>Расчет элементов системы для 1 м<sup>2</sup></strong>

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th rowspan="2">
                Марка системы</th>
            <th rowspan="2">
                Наименование изделия</th>
            <th rowspan="2">
                Марка изделия</th>
            <th rowspan="2">
                Модуль, мм</th>
            <th rowspan="2">
                &nbsp;</th>
            <th colspan="8">
                Расход на 1 м<sup>2</sup></th>
        </tr>
        <tr>
            <th>
                300х50</th>
            <th>
                300х60</th>
            <th>
                300х75</th>
            <th>
                300х86</th>
            <th>
                300х100</th>
            <th>
                300х120</th>
            <th>
                300х150</th>
            <th>
                300х200</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="6">
                Грильято «Жалюзи»
            </td>
            <td>
                Решетка</td>
            <td>
                РГ</td>
            <td>
                600x1200</td>
            <td>
                шт.</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
        </tr>
        <tr>
            <td rowspan="2">
                Количество пластин в решетке
            </td>
            <td>
                «Мама»</td>
            <td>
                1200</td>
            <td>
                шт.</td>
            <td>
                11</td>
            <td>
                9</td>
            <td>
                7</td>
            <td>
                6</td>
            <td>
                5</td>
            <td>
                4</td>
            <td>
                3</td>
            <td>
                2</td>
        </tr>
        <tr>
            <td>
                «Папа»</td>
            <td>
                600</td>
            <td>
                шт.</td>
            <td>
                4</td>
            <td>
                4</td>
            <td>
                4</td>
            <td>
                4</td>
            <td>
                4</td>
            <td>
                4</td>
            <td>
                4</td>
            <td>
                4</td>
        </tr>
        <tr>
            <td>
                Несущие напр.</td>
            <td>
                &nbsp;</td>
            <td>
                1200</td>
            <td>
                шт.</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
        </tr>
        <tr>
            <td>
                Подвес</td>
            <td>
                АП-Г</td>
            <td>
                900</td>
            <td>
                шт.</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
        </tr>
        <tr>
            <td>
                Уголок</td>
            <td>
                PL19x24</td>
            <td>
                &nbsp;</td>
            <td>
                п.м.</td>
            <td colspan="8">
                по расчету</td>
        </tr>
    </tbody>
</table>