<ul>
    <li>Реечный потолок итальянского дизайна собирается из алюминиевых, либо сетчатых реек (только открытого типа, ПВС R16, см. <strong>«Сетчатые потолки»</strong>) с закругленными краями.</li>
    <li>Боковые выемки и высота панели обеспечивают жесткость профиля и устойчивость всей системы.</li>
    <li>Потолки выполняются с открытыми (дополнительно в стыки могут быть установлены декоративные раскладки) или с закрытыми стыками</li>
    <li>Панели могут быть проперфорированы (диаметр перфорации 1,5 мм).</li>
    <li>На профиль реечной панели может наноситься дополнительный рельеф (декоративная волнистость)</li>
</ul>
<p><strong>Схема монтажа</strong></p>
<br/>С закрытыми стыками<br/>
<img class="thumbnail" src="{{ asset('bundles/spbshop/img/627_ital1_big.png') }}">
<br/>С открытыми стыками<br/>
<img class="thumbnail" src="{{ asset('bundles/spbshop/img/627_ital2_big.png') }}">

<p>
    <br/>
    <strong>Расчет элементов системы с открытыми стыками для 1 м<sup>2</sup></strong>
</p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м<sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="4">1</td>
            <td rowspan="4">A90A</td>
            <td>Рейка</td>
            <td>A84/A</td>
            <td>90</td>
            <td>11,11 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>BT-3-90</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL-19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
        <tr>
            <td rowspan="5">2</td>
            <td rowspan="5">A100A</td>
            <td>Рейка</td>
            <td>A84/A</td>
            <td>100</td>
            <td>10 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Раскладка</td>
            <td>AS</td>
            <td>&nbsp;</td>
            <td>10 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>BT-3-100</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL-19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
    </tbody>
</table>
<p><strong>Расчет элементов системы с закрытыми стыками для 1 м<sup>2</sup></strong></p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м<sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="4">1</td>
            <td rowspan="4">A90AС</td>
            <td>Рейка</td>
            <td>A84/AС</td>
            <td>100</td>
            <td>10 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>BT-3-100</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL-19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
    </tbody>
</table> 