<strong>Кассетные подвесные потолки — область применения:</strong>
<p>Кассетные потолки получили широкое распространение на рынке металлических
    подвесных потолков. Они подойдут для любого интерьера, будь то залы
    торговых или торгово-развлекательных центров, объекты транспорта,
    здравоохранения и образования, офисные и производственные помещения.</p>

<strong>Преимущества:</strong>
<ul>
    <li>Кассетные потолки сочетают в себе простоту формы и функциональность. Особенности
        конструкции позволяют гармонично встроить кассетный потолок даже при
        наличии выемок, выступов или неправильной формы потолка.
    </li>
    <li>Различные виды перфорации и специальная акустическая подложка увеличивают
        коэффициент звукопоглощения и создают благоприятную акустическую среду
        в помещении.
    </li>
    <li>Кассетные потолки выпускаются из алюминия и оцинкованной стали, что существенно расширяет сферу их применения,
        особенно в помещениях с высокими требованиями к влажности и пожарной
        безопасности.
    </li>
</ul>

<strong>Описание:</strong>
<p>Кассетные потолки производятся для двух типов подвесной системы:</p>
<ul>
    <li>
        Для открытой подвесной системы (Т-24, Т-15) с кромками TEGULAR, BOARD, VECTOR и LINE.
    </li>
    <li>
        Для скрытой подвесной системы (стрингер ВТ-600).
    </li>
</ul>
<strong>Возможности цветового исполнения:</strong>
<p>Широкая цветовая гамма позволяет создавать неповторимые интерьерные решения,
    что особенно актуально в настоящее время. Выбор цвета лицевой части
    панели осуществляется по международной колористической таблице RAL.</p>
<ul>
    <li><u>Стандартные цвета:</u>
        белый матовый, белый глянец, металлик серебристый, металлик матовый,
        хром, золото, супер-хром, супер-золото, светло-бежевый, супер-хром люкс.
    </li>
    <li>
        <u>Дополнительные цвета:</u> светло-серый, черный, синий, малина, руженый, медь, фактура дерева.
    </li>
    <li><u>По запросу:</u> порошковое окрашивание по порошковое окрашивание 
        по <a href="{{ path('spb_ral') }}">таблице RAL</a>.
    </li>
</ul>

<strong>Дополнительные возможности:</strong>
<p>
    Дизайнерские материалы, предлагаемые компанией, включают и нестандартные цветовые
    решения, позволяющие имитировать поверхность различных природных
    материалов (дерево, гранит), состаренную медь, хамелеон и другие.
</p>