<p>
    Клей Powder Plus 250 специально разработан  для стеклотканевых обоев 
    Витрулан. Он изготовлен на основе модифицированного крахмала с 
    повышенной  прочностью, и потому является экологически чистым и 
    натуральным продуктом.
</p> 
<p>
    Порошковый клей Витрулан легко 
    разводится и идеально ложится на стену, обеспечивая надежное сцепление 
    стеклоткани со стеной.  Для идеального результата выбирайте клей, 
    специально разработанный для стеклотканевых обоев Витрулан.
</p>