<p>
    Криволинейные потолочные системы позволяют осуществлять переход между 
    перепадами высот в потолке, создавать новый дизайн потолков, сочетающие в 
    себе форму и освещение,а также обрамлять выступающие инженерные коммуникации.
</p>
<ul>
    <li>
        Изогнутую форму (радиус закругления 2 метра) могут принимать только потолки
        итальянского дизайна открытого типа. В этом случае рейки (А84/А) монтируются
        на специальных гнутых гребенках - направляющих ВТ-6.
    </li>
    <li>
        Изогнутую форму потолка можно получить используя и гнутые (в заводских условиях)
        рейки итальянского дизайна открытого типа А84/А (радиус закругления R=300 мм,
        длина сегмента - 670 мм).
    </li>
    <li>
        Для уменьшения ширины зазора (6мм) между рейками используют гребенку ВТ-3-90.
        Рейка может иметь выпуклую или вогнутую форму.
    </li>
</ul>
<p>
    <strong>Схема монтажа</strong>
</p>
<img class="thumbnail" alt="Схема монтажа криволинейного потолка" src="{{ asset('bundles/spbshop/img/648_21b.png') }}">
                                  