<p>
    <strong>Схема монтажа</strong>
</p>
<img class="thumbnail" src="{{ asset('bundles/spbshop/img/647_17.1.png') }}" title="Схема монтажа кубообразного реечного потолка">
<p>
    <br/>
    <strong>Расчет элементов системы для 1 м<sup>2</sup></strong>
</p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>№</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход 1 м<sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="5">1</td>
            <td rowspan="5">A50S</td>
            <td>Рейка</td>
            <td>A38/S</td>
            <td>50</td>
            <td>20 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Раскладка</td>
            <td>ASB-50</td>
            <td>&nbsp;</td>
            <td>20 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>BT-4-50</td>
            <td>&nbsp;</td>
            <td>00,89 м. п.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL-19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
        <tr>
            <td rowspan="5">2</td>
            <td rowspan="5">A70S</td>
            <td>Рейка</td>
            <td>A25/S</td>
            <td>70,2</td>
            <td>14,25 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Раскладка</td>
            <td>ASB-70</td>
            <td>&nbsp;</td>
            <td>14,25 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>BT-4-70</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL-19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
    </tbody>
</table> 