<ul>
    <li>
        Реечный потолок немецкого дизайна собирается из алюминиевых реек с прямоугольными краями.</li>
    <li>
        Строгие формы и различная ширина панелей позволяют создавать универсальные плоские формы.</li>
    <li>
        Реечный потолок немецкого дизайна выполняется с открытыми (дополнительно в стыки могут быть установлены декоративные раскладки) или с закрытыми стыками.</li>
    <li>
        Панели могут быть проперфорированы (диаметр перфорации 1,5 мм).</li>
</ul>

<strong>Расчет элементов системы с открытыми стыками для 1 м<sup>2</sup></strong>
<table class="table table-bordered table-condensed table-striped">
    <tbody>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м<sup>2</sup></th>
        </tr>
        <tr>
            <td rowspan="6">1</td>
            <td rowspan="6">AN100A</td>
            <td>Рейка</td>
            <td>AN85/A</td>
            <td>100</td>
            <td>10 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Раскладка</td>
            <td>ASN</td>
            <td>&nbsp;</td>
            <td>10 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>BTN</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL 19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Соединительный уголок</td>
            <td>AN85/A</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
        <tr>
            <td rowspan="6">2</td>
            <td rowspan="6">AN150A</td>
            <td>Рейка</td>
            <td>AN135/A</td>
            <td>150</td>
            <td>6,67 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Раскладка</td>
            <td>ASN</td>
            <td>&nbsp;</td>
            <td>6,67 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>BTN</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL 19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Соединительный уголок</td>
            <td>AN135/A</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
        <tr>
            <td rowspan="6">3</td>
            <td rowspan="6">AN200A</td>
            <td>Рейка</td>
            <td>AN185/A</td>
            <td>200</td>
            <td>5 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Раскладка</td>
            <td>ASN</td>
            <td>&nbsp;</td>
            <td>5 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>BTN</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL 19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Соединительный уголок</td>
            <td>AN185/A</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
    </tbody>
</table>
<strong>Расчет элементов системы с закрытыми стыками для 1 м<sup>2</sup></strong>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м<sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>AN100AС</td>
            <td>Рейка</td>
            <td>AN85/AС</td>
            <td>100</td>
            <td>10 шт./п. м. (дл. 1,0 м)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1б</td>
            <td>А150АС</td>
            <td>Рейка</td>
            <td>AN135/AС</td>
            <td>150</td>
            <td>6,67 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>AN200AС</td>
            <td>Рейка</td>
            <td>AN185/AС</td>
            <td>200</td>
            <td>5 шт./п. м. (дл. 1,0 м)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2</td>
            <td>&nbsp;</td>
            <td>Гребенка</td>
            <td>BTN</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>&nbsp;</td>
            <td>Уголок</td>
            <td>PL 19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>4</td>
            <td>&nbsp;</td>
            <td>Соед. элемент</td>
            <td>AN85/AС, AN85/AС</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>5</td>
            <td>&nbsp;</td>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
    </tbody>
</table> 