<strong>Характеристики реечной системы BEST</strong>
<dl  class="dl-horizontal">
    <dt>Название:</dt>
    <dd>AN85А Best</dd>
    <dt>Ассортиментный ряд:</dt>
    <dd>рейка с открытыми стыками AN85А Best, раскладка ASNBest, рейка с закрытыми стыками AN85АС Best</dd>
    <dt>Гребенка: </dt>
    <dd>BTN /стандартная</dd>
    <dt>Длина рейки: </dt>
    <dd>3 и 4 м</dd>
    <dt>Cырье: </dt>
    <dd>рейка с открытыми стыками выпускается из сырья толщиной 0,32 мм (эконом) и 0,42 мм (стандарт). Рейка с закрытыми стыками выпускается только из сырья толщиной 0,42 мм (стандарт)</dd>
    <dt>Упаковка:</dt>
    <dd>112 реек шириной 85 мм и 66 реек шириной 135 мм.</dd>
    <dt>Цветовое исполнение: </dt>
    <dd>белый матовый, металлик, металлик матовый, хром, золото, суперхром, суперзолото.</dd>
</dl>
<strong>Преимущества новой реечной системы BEST</strong>
<ul>
    <li>За счет инновационной технологии высота конструкции <strong>новой потолочной рейки BEST</strong>уменьшилась на 40%.</li>
    <li>Качественные характеристики <strong>новой потолочной рейки BEST</strong> остались прежними: внешний вид потолочного пространства аналогичен обычной рейке немецкого дизайна.</li>
    <li>Конкурентоспособность <strong>новой потолочной рейки BEST </strong>обеспечивается и уникальным ценовым предложением: <strong>уровень цены значительно снижен.</strong></li>
</ul>

<iframe class="thumbnail" src="http://www.youtube.com/embed/SgSkrOmYvDc?rel=0" allowfullscreen="" align="middle" frameborder="0" height="315" width="560"></iframe>

<br/>
<p  class="text-center"><strong>Схема монтажа</strong></p>
<p>С закрытыми стыками</p>
<img class="thumbnail" src="{{ asset('bundles/spbshop/img/vest_sborka.png') }}">
<p><br/>С открытыми стыками</p>
<img class="thumbnail" src="{{ asset('bundles/spbshop/img/vest_sborka_raskl.png') }}">

<br/>
<strong>Расчет элементов системы с открытыми стыками для 1 м<sup>2</sup></strong>

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м<sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="5">1</td>
            <td rowspan="5">AN100A BEST</td>
            <td>Рейка</td>
            <td>AN85/A Best</td>
            <td>100</td>
            <td>10 м. п.</td>
        </tr>
        <tr>
            <td>Раскладка</td>
            <td>ASN Best</td>
            <td>&nbsp;</td>
            <td>10 м. п.</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>BTN</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL 19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
    </tbody>
</table>

<strong>Расчет элементов системы с закрытыми стыками для 1 м<sup>2</sup></strong>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м<sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="4">1</td>
            <td rowspan="4">AN100AC BEST</td>
            <td>Рейка</td>
            <td>AN85/AC Best</td>
            <td>100</td>
            <td>10 м. п.</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>BTN</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL 19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
    </tbody>
</table>