<ul>
    <li>Реечный потолок «OMEGA» собирается из алюминиевых реек, примыкающих друг к другу. </li>
    <li>Внешний вид потолка может меняться в зависимости от использования реечных панелей различной ширины 50 мм, 100 мм или 150 мм, которые легко монтируются на одной гребенке </li>
    <li>Комбинируя различные по ширине и цветовому исполнению реечные панели можно добиваться индивидуального дизайна потолочного пространства</li>
    <li>Рейки могут быть проперфорированы (диаметр перфорации 1,5 мм)</li>
</ul>
<p>
    <strong>Схема монтажа</strong>
</p>
<img class="thumbnail" src="{{ asset('bundles/spbshop/img/646_omega_sh_big.png') }}">
<p>
    <br/>
    <strong>Расчет элементов системы для 1 м<sup>2</sup></strong>
</p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>№</th>
            <th>Система</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м<sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1a</td>
            <td>A50AТ</td>
            <td>Рейка</td>
            <td>A50/AТ</td>
            <td>50</td>
            <td>20 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>1б</td>
            <td>A100AТ</td>
            <td>Рейка</td>
            <td>A100/AТ</td>
            <td>100</td>
            <td>10 шт./п. м. (дл. 1,0 м)</span></td>
        </tr>
        <tr>
            <td>1в</td>
            <td>A150АТ</td>
            <td>Рейка</td>
            <td>A150/AТ</td>
            <td>150</td>
            <td>6,67 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>3</td>
            <td>&nbsp;</td>
            <td>Гребенка</td>
            <td>ВТ-8</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>&nbsp;</td>
            <td>Уголок</td>
            <td>PL 19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>5</td>
            <td>&nbsp;</td>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
    </tbody>
</table> 