<ul>
    <li>Размеры коридорных панелей определяются проектом</li>
    <li>Стандартная ширина панели (В) – 590 мм, длина (L) – до 2500 мм</li>
</ul>
<p>
    <img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/671_8624_42.1.png') }}">
</p>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м <sup>2</sup>для кассеты B = 1800x590</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="4">1</td>
            <td rowspan="4">Панель коридорная</td>
            <td>Панель</td>
            <td>ПК</td>
            <td>LхB</td>
            <td>0,93 шт.</td>
        </tr>
        <tr>
            <td>Направляющий профиль</td>
            <td>НП1</td>
            <td>&nbsp;</td>
            <td>1,12 пог.м</td>
        </tr>
        <tr>
            <td>Направляющий профиль</td>
            <td>НП2</td>
            <td>&nbsp;</td>
            <td>1,12 пог.м</td>
        </tr>
        <tr>
            <td>Направляющий профиль</td>
            <td>НП3</td>
            <td>&nbsp;</td>
            <td>0,56 п.м.</td>
        </tr>
    </tbody>
</table>