<p>
    <img class="thumbnail" src="{{ asset('bundles/spbshop/img/671_9032_41.1.png') }}">
</p>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м <sup>2</sup>для кассеты B = 1500 мм</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">1</td>
            <td rowspan="2">ПК - RS</td>
            <td>Панель</td>
            <td>ПК - R/S</td>
            <td>300хB</td>
            <td>2,11 шт.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL 25x25</td>
            <td>&nbsp;</td>
            <td>по проекту</td>
        </tr>
        <tr>
            <td rowspan="2">2</td>
            <td rowspan="2">ПК - R</td>
            <td>Панель</td>
            <td>ПК - R</td>
            <td>316,5xB</td>
            <td>2,22 шт.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL - 25x25</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td rowspan="2">3</td>
            <td rowspan="2">ПК - FS</td>
            <td>Панель</td>
            <td>ПК - F/S</td>
            <td>300хB</td>
            <td>2,11 шт.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL 25x25</td>
            <td>&nbsp;</td>
            <td>по проекту</td>
        </tr>
        <tr>
            <td rowspan="2">4</td>
            <td rowspan="2">ПК - F</td>
            <td>Панель</td>
            <td>ПК - F</td>
            <td>316,5xB</td>
            <td>2,22 шт.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL 25x25</td>
            <td>&nbsp;</td>
            <td>по проекту</td>
        </tr>
    </tbody>
</table>