<strong>Преимущества:</strong>
<ul>
    <li>Потолок со скрытой подвесной системой и декоративной кассетой «РОМБ» АС открывает новые возможности для создания рельефа потолочного пространства.</li>
    <li>
        Конструкция потолка со скрытой подвесной системой и кассетой «РОМБ» АС позволяет:
        <ul>
            <li>при необходимости легко демонтировать одну или несколько кассет;</li>
            <li>изменять направление расположения кассет относительно стен.</li>
        </ul>
    </li>
</ul>

<strong>Описание:</strong>
<ul>
    <li>Декоративная кассета ромбовидной формы из окрашенного алюминия или оцинкованной стали имеет фигурные кромки.</li>
    <li>Каждая последующая кассета устанавливается встык с предыдущей, образуя между соседними кассетами паз в 15 мм, который разбивает потолочную зону на ромбовидные сегменты.</li>
    <li>Дополнительно в паз может вставляться декоративная раскладка</li>
    <li>В качестве скрытой подвесной системы используется гребенка ВТ-600 (стрингер), в которую снизу защелкиваются кромки кассеты.</li>
</ul>
<strong>Возможности цветового исполнения</strong>
<ul>
    <li><u>Стандартные цвета:</u> белый матовый, белый глянец, металлик, металлик матовый, черный.</li>
<li><u>По запросу</u>: кассеты могут быть окрашены в любой цвет по каталогу RAL.</li>
</ul>

<strong>Схема монтажа</strong>
<img class="thumbnail" alt="Металлические кассеты Ромб. Схема монтажа." src="{{ asset('bundles/spbshop/img/670_1820_romb.png') }}" >
<br/>
<strong>Расход на 1 м<sup>2</sup></strong>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м<sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="8">1</td>
            <td rowspan="8">"РОМБ" AC</td>
            <td>Кассета</td>
            <td>"РОМБ" AC</td>
            <td>Диагональ 600x1040</td>
            <td>3,24 шт.</td></tr>
        <tr>
            <td>Стрингер</td>
            <td>ВТ - 600</td>
            <td>до 4000</td>
            <td>1,93 п.м.</td></tr>
        <tr>
            <td>Профиль оцинк.</td>
            <td>ПП 47х26</td>
            <td>до 4000</td>
            <td>1 п.м.</td></tr>
        <tr>
            <td>Подвес анкерный для ПП 47х26</td>
            <td>&nbsp;</td>
            <td>800</td>
            <td>1,6 шт.</td></tr>
        <tr>
            <td>Тяга подвеса</td>
            <td>&nbsp;</td>
            <td>800</td>
            <td>1,6 шт.</td></tr>
        <tr>
            <td>Соединитель 2-х уровневый для ПП 47х26</td>
            <td></td>
            <td></td>
            <td>3,2 шт.</td></tr>
        <tr>
            <td>Уголок</td>
            <td>PL (PLL) - 19x24 </td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
    </tbody>
</table>

