<strong>Область применения:</strong>
<p>
    Коридорные панели — это современные, функциональные потолочные системы, которые находят применение в помещениях ограниченной ширины.
</p>
<strong>Технические характеристики:</strong>
<ul>
    <li>
        Панели коридорные выполняются из алюминия толщиной или оцинкованной стали толщиной до 1,0 мм.
    </li>
    <li>
        Специальная система крепления создаёт прочную и удобную для монтажа конструкцию, позволяющую проникать в запотолочное пространство, отщелкивая лишь одну из стенок панели.
    </li>
    <li>
        Коридорные панели выпускаются 4-х типов:
        <ul>
            <li>Панель коридорная ПК</li>
            <li>Панель коридорная ПК-R и ПК-RS с закругленными краями (панели устанавливаются с открытыми и закрытыми стыками);</li>
            <li>Панель коридорная ПК-F и ПК-FS с кромкой (панели устанавливаются с открытыми и закрытыми стыками).</li>
            <li>Панель коридорная итальянского дизайна</li>
        </ul>
    </li>
</ul>
<strong>Дополнительные возможности:</strong>
<ul>
    <li>
        Различные типы перфорации позволяют с успехом решать проблему звукоизоляции.
    </li>
    <li>
        Коридорные панели производятся из алюминия и оцинкованной стали в разных цветовых вариантах и типоразмерах.
    </li>
</ul>