<p>
    Для улучшения акустических свойств помещений компания «Виктис» предлагает 
использовать перфорированные панели. Дополнительно в комплект может входить 
акустическая подложка, которая максимально увеличивает коэффициент 
звукопоглощения. Она накатывается на тыльную сторону панели в заводских условиях 
и может быть выполнена в белом или черном цвете.</p>
<ul>
    <li>
        Акустические исследования, проводимые с перфорированными панелями,
        обнаружили достаточно высокие значения коэффициентов звукопоглощения в 
        диапазоне частот от 100 до 4 000 Гц.
    </li>
    <li>
        Перфорированные панели имеют разные характеристики в соответствии с 
        типом перфорации и применением звукопоглощающих материалов.
    </li>
    <li>
        При отсутствии подложки коэффициенты звукопоглощения не превышает значения 0,3.
    </li>
</ul>
<strong>Диаметр перфорации составляет 1,50 мм /2,00/ 3,00 мм.<br/>
Перфорационные отверстия можно сделать круглыми, квадратными, нестандартной формы, 
а также разных размеров.</strong>