<strong>Преимущества:</span></strong>
<ul>
    <li>
        Потолок грильято «Пирамидальный» позволяет максимально скрыть
        запотолочное пространство за счет «крыльев», но в тоже время не
        затрудняет работу инженерных коммуникаций
    </li>
</ul>
<strong>Описание:</strong>
<ul>
    <li>
        Потолок грильято «Пирамидальный» представляет собой объемную решетку, образованную профилями «мама» и «папа» шириной 10 мм, высотой 30мм, либо 40 мм, закрепленную на несущие направляющие шириной 10 мм, высотой 30 мм, либо 40 мм.
    </li>
    <li>
        В сечение решетка имеет сложную конструкцию, когда кромка профиля отклонена по вертикали под углом в 45 градусов. Направляющие также имеют сложную пирамидальную форму.<br></span></li><li><span style="font-size: 10pt;">Таким образом, Y-образные профили «мама» и «папа» формируют ячейку пирамидальной формы, уходящую в перспективу, придавая рельефность, ажурность, фактурность потолочному пространству и создавая дополнительный объем.
    </li>
</ul>
<strong>Схема монтажа</strong>

<img  class="thumbnail" title="Схема монтажа потолка пирамидальный-грильято"  src="{{ asset('bundles/spbshop/img/677_41.1.png') }}"/>

<br/>
<strong>Расчет элементов системы для 1 м<sup>2</sup></strong>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th rowspan="2" style="text-align: center; font-weight: bold;">
                Марка системы</th>
            <th rowspan="2" style="text-align: center; font-weight: bold;">
                Наименование изделия</th>
            <th rowspan="2" style="text-align: center; font-weight: bold;">
                Марка изделия</th>
            <th rowspan="2" style="text-align: center; font-weight: bold;">
                Модуль, мм</th>
            <th rowspan="2" style="text-align: center;">
                &nbsp;</th>
            <th colspan="6" style="text-align: center; font-weight: bold;">
                Расход на 1 м<sup>2</sup></th>
        </tr>
        <tr>
            <th style="text-align: center;">
                75х75</th>
            <th style="text-align: center;">
                86х86</th>
            <th style="text-align: center;">
                100х100</th>
            <th style="text-align: center;">
                120х120</th>
            <th style="text-align: center;">
                150х150</th>
            <th style="text-align: center;">
                200х200</th>
        </tr>
    </thead>
    <tbody>        
        <tr>
            <td rowspan="9" style="text-align: center; vertical-align: middle;">
                <p>
                    ГРИЛЬЯТО «Пирамидальный»</p>
            </td>
            <td style="text-align: center;">
                Решетка</td>
            <td style="text-align: center;">
                РГ</td>
            <td style="text-align: center;">
                600х600</td>
            <td style="text-align: center;">
                шт.</td>
            <td style="text-align: center;">
                2,78</td>
            <td style="text-align: center;">
                2,78</td>
            <td style="text-align: center;">
                2,78</td>
            <td style="text-align: center;">
                2,78</td>
            <td style="text-align: center;">
                2,78</td>
            <td style="text-align: center;">
                2,78</td>
        </tr>
        <tr>
            <td rowspan="2" style="text-align: center;">
                Количество пластин</td>
            <td style="text-align: center;">
                «Мама»</td>
            <td style="text-align: center;">
                600</td>
            <td style="text-align: center;">
                шт.</td>
            <td style="text-align: center;">
                7</td>
            <td style="text-align: center;">
                6</td>
            <td style="text-align: center;">
                5</td>
            <td style="text-align: center;">
                4</td>
            <td style="text-align: center;">
                3</td>
            <td style="text-align: center;">
                2</td>
        </tr>
        <tr>
            <td style="text-align: center;">
                «Папа»</td>
            <td style="text-align: center;">
                600</td>
            <td style="text-align: center;">
                шт.</td>
            <td style="text-align: center;">
                7</td>
            <td style="text-align: center;">
                6</td>
            <td style="text-align: center;">
                5</td>
            <td style="text-align: center;">
                4</td>
            <td style="text-align: center;">
                3</td>
            <td style="text-align: center;">
                2</td>
        </tr>
        <tr>
            <td rowspan="3" style="text-align: center;">
                Несущие направляющие</td>
            <td style="text-align: center;">
                №1</td>
            <td style="text-align: center;">
                2400</td>
            <td style="text-align: center;">
                шт.</td>
            <td style="text-align: center;">
                0,7</td>
            <td style="text-align: center;">
                0,35</td>
            <td style="text-align: center;">
                0,35</td>
            <td style="text-align: center;">
                0,35</td>
            <td style="text-align: center;">
                0,35</td>
            <td style="text-align: center;">
                0,35</td>
        </tr>
        <tr>
            <td style="text-align: center;">
                №2</td>
            <td style="text-align: center;">
                1200</td>
            <td style="text-align: center;">
                шт.</td>
            <td style="text-align: center;">
                -</td>
            <td style="text-align: center;">
                1,39</td>
            <td style="text-align: center;">
                1,39</td>
            <td style="text-align: center;">
                1,39</td>
            <td style="text-align: center;">
                1,39</td>
            <td style="text-align: center;">
                1,39</td>
        </tr>
        <tr>
            <td style="text-align: center;">
                №3</td>
            <td style="text-align: center;">
                600</td>
            <td style="text-align: center;">
                шт.</td>
            <td style="text-align: center;">
                2,78</td>
            <td style="text-align: center;">
                1,39</td>
            <td style="text-align: center;">
                1,39</td>
            <td style="text-align: center;">
                1,39</td>
            <td style="text-align: center;">
                1,39</td>
            <td style="text-align: center;">
                1,39</td>
        </tr>
        <tr>
            <td style="text-align: center;">
                Соедин. эемент</td>
            <td style="text-align: center;">
                PG</td>
            <td style="text-align: center;">
                &nbsp;</td>
            <td style="text-align: center;">
                шт.</td>
            <td style="text-align: center;">
                0,7</td>
            <td style="text-align: center;">
                0,35</td>
            <td style="text-align: center;">
                0,35</td>
            <td style="text-align: center;">
                0,35</td>
            <td style="text-align: center;">
                0,35</td>
            <td style="text-align: center;">
                0,35</td>
        </tr>
        <tr>
            <td style="text-align: center;">
                Подвес</td>
            <td style="text-align: center;">
                АП-Г</td>
            <td style="text-align: center;">
                900</td>
            <td style="text-align: center;">
                шт.</td>
            <td style="text-align: center;">
                1,85</td>
            <td style="text-align: center;">
                0,93</td>
            <td style="text-align: center;">
                0,93</td>
            <td style="text-align: center;">
                0,93</td>
            <td style="text-align: center;">
                0,93</td>
            <td style="text-align: center;">
                0,93</td>
        </tr>
        <tr>
            <td style="text-align: center;">
                Уголок</td>
            <td style="text-align: center;">
                PL19x24</td>
            <td style="text-align: center;">
                &nbsp;</td>
            <td style="text-align: center;">
                пм.</td>
            <td colspan="6" style="text-align: center;">
                по расчету</td>
        </tr>
    </tbody>
</table>

<strong>Процент прозрачности Грильято Пирамидальный</strong>

<table  class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>
                Высота профиля, мм</th>
            <th>
                75х75</th>
            <th>
                86х86</th>
            <th>
                100х100</th>
            <th>
                120х120</th>
            <th>
                150х150</th>
            <th>
                200х200</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                35</td>
            <td>
                23%</td>
            <td>
                30%</td>
            <td>
                39%</td>
            <td>
                49%</td>
            <td>
                60%</td>
            <td>
                72%</td>
        </tr>
    </tbody>
</table>
