<p>
    <strong>Схема монтажа</strong>
</p>
<img class="thumbnail" src="{{ asset('bundles/spbshop/img/647_19.1.png') }}" title="Схема монтажа пластинообразного реечного потолка">
<p>
    <br/>
    <strong>Расчет элементов системы для 1 м<sup>2</sup></strong>
</p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>№</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м <sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="4">1</td>
            <td rowspan="4">A50SP</td>
            <td>Рейка</td>
            <td>A91/SP</td>
            <td>50</td>
            <td>20 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>BT-4-50</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>Уголок</td>
            <td>PL-19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
    </tbody>
</table> 