<p>
    Подвесные системы предназначены для монтажа металлических и стеклянных панелей, а также минераловолокнистых плит. При этом используется Т-профиль длинной 600 мм, 1200 мм, 3700 мм.
</p>
Конструкция потолка с использованием подвесной системы:</strong>
<ul>
    <li>
        отличается высоким стандартом качества;
    </li>
    <li>
        относится к долговечным, коррозиестойким конструкциям;
    </li>
    <li>
        отвечает всем экологическим требованиям, предъявляемым к строительным конструкциям;
    </li>
    <li>
        обеспечивает высокую скорость, простоту и качество монтажа.
    </li>
</ul>

<p>
    <strong>ООО «Виктис» реализует Т-профиль следующих марок –&nbsp; «Click Prim», «Prim», «Албес», «Norma», «Эконом».</strong>
</p>
<p>
    Несущие профили соединяются по длине друг с другом с помощью специальных замков методом защелкивания. К несущим профилям крепятся поперечные профили, также методом защёлкивания, образуя модуль в зависимости от размеров выбранных панелей.
</p>
<p>
    В подвесную систему могут быть встроены специальные модульные светильники, которые подвешиваются отдельно к основанию. Крепление каких-либо конструкций на Т-профиль не допускается. При необходимости такого крепления следует устанавливать отдельные крепежные элементы, предусмотренные проектом.
</p>
<strong>Ассортимент видимых подвесных потолочных систем </strong><br/><br/>

<table style="background-color: #eeeeee" class="table table-bordered table-condensed">
    <tr>
        <th colspan="10" style="text-align: center">
            <small>Расход на м<sup>2</sup></small>
        </th>
    </tr>
    <tr>
        <th rowspan="2">
            <small>№</small>
        </th>
        <th rowspan="2">
            <small>Подвес АП, шт.</small>
        </th>
        <th rowspan="2">
            <small>Несущие напр. L, мм</small>
        </th>
        <th colspan="3" style="text-align: center">
            <small>PRIM</small>
        </th>
        <th colspan="3" style="text-align: center">
            <small>NORM</small>
        </th>
        <th style="text-align: center">
            <small>ECO</small>
        </th>
    </tr>
    <tr>
        <td style="text-align: center">
            <small>Т-24<br/>«Click Prim»</small>
        </td>
        <td style="text-align: center">
            <small>Т-24<br/>«Албес ЕВРО»</small>
        </td>
        <td style="text-align: center">
            <small>Т-15<br/>«Prim»</small>
        </td>
        <td style="text-align: center">
            <small>Т-15<br/>«Албес»</small>
        </td>
        <td style="text-align: center">
            <small>Т-24<br/>«Албес»</small>
        </td>
        <td style="text-align: center">
            <small>Т-24<br/>«Norma»</small>
        </td>
        <td style="text-align: center">
            <small>Т-24<br/>«Эконом»</small>
        </td>
    </tr>
    <tr t>
        <td rowspan="4">
            1
        </td>
        <td rowspan="4">
            0,7
        </td>
        <td>
            3700
        </td>
        <td colspan="1" rowspan="4">
            &nbsp;
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td colspan="1" rowspan="4">
            &nbsp;
        </td>
        <td colspan="1" rowspan="4">
            &nbsp;
        </td>
        <td colspan="1" rowspan="4">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            1200
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
    </tr>
    <tr>
        <td>
            600
        </td>
        <td>
            2,55
        </td>
        <td>
            2,55
        </td>
        <td>
            2,55
        </td>
    </tr>
    <tr>
        <td>
            300
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            2
        </td>
        <td rowspan="3">
            1,4
        </td>
        <td>
            3700
        </td>
        <td colspan="1" rowspan="3">
            &nbsp;
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td colspan="1" rowspan="3">
            &nbsp;
        </td>
        <td colspan="1" rowspan="3">
            &nbsp;
        </td>
        <td colspan="1" rowspan="3">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            600
        </td>
        <td>
            3,33
        </td>
        <td>
            3,33
        </td>
        <td>
            3,33
        </td>
    </tr>
    <tr>
        <td>
            300
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
    </tr>
    <tr>
        <td rowspan="4">
            3
        </td>
        <td rowspan="4">
            расчет
        </td>
        <td>
            3700
        </td>
        <td colspan="1" rowspan="4">
            &nbsp;
        </td>
        <td rowspan="4">
            расчет
        </td>
        <td colspan="1" rowspan="4">
            расчет
        </td>
        <td rowspan="4">
            расчет
        </td>
        <td colspan="1" rowspan="4">
            &nbsp;
        </td>
        <td colspan="1" rowspan="4">
            &nbsp;
        </td>
        <td colspan="1" rowspan="4">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            1200
        </td>
    </tr>
    <tr>
        <td>
            600
        </td>
    </tr>
    <tr>
        <td>
            300
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            4
        </td>
        <td rowspan="3">
            0,7
        </td>
        <td>
            3700
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
    </tr>
    <tr>
        <td>
            1200
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
    </tr>
    <tr>
        <td>
            600
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            5
        </td>
        <td rowspan="2">
            1,4
        </td>
        <td>
            3700
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
    </tr>
    <tr>
        <td>
            600
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            6
        </td>
        <td rowspan="2">
            1,4
        </td>
        <td>
            3700
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
    </tr>
    <tr>
        <td>
            600
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            7
        </td>
        <td rowspan="2">
            0,7
        </td>
        <td>
            3700
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td colspan="1" rowspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            1200
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            8
        </td>
        <td rowspan="2">
            1,4
        </td>
        <td>
            3700
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td colspan="1" rowspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            600
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            9
        </td>
        <td rowspan="2">
            0,7
        </td>
        <td>
            3700
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td colspan="1" rowspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            1200
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
        <td>
            1,67
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            10
        </td>
        <td rowspan="2">
            0,7
        </td>
        <td>
            3700
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td colspan="1" rowspan="2">
            &nbsp;
        </td>
        <td colspan="1" rowspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            1200
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            11
        </td>
        <td rowspan="2">
            0,7
        </td>
        <td>
            3700
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>

            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td colspan="1" rowspan="2">
            &nbsp;
        </td>
        <td colspan="1" rowspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            1200
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
        <td>
            0,83
        </td>
    </tr>
    <tr>
        <td colspan="10" style="text-align: center">
            Уголок PL 19x24, PLL по расчету
        </td>
    </tr>
</table>

<div align="center">
    <img src="{{ asset("bundles/spbshop/img/подвесные-системы-схема-монтажа.jpg")}}" alt="подвесные-системы-схема-монтажа">
</div>

<br/>
<br/>

<table style="background-color: #eeeeee" class="table table-bordered table-condensed">
    <tr>
        <th colspan="10" style="text-align: center">
            Технические характеристики
        </th>
    </tr>
    <tr>
        <td colspan="3">
            Тип замка
        </td>
        <td>
            отдельно клепаный «Сlick»
        </td>
        <td>
            цельно вырубленный
        </td>
        <td>
            цельно вырубленный «Крючковый»
        </td>
        <td colspan="3">
            цельно вырубленный
        </td>
        <td>
            цельно вырубленный
        </td>
    </tr>
    <tr>
        <td colspan="3">
            Тип соединения
        </td>
        <td>
            внахлест
        </td>
        <td>
            внахлест</td>
        <td>
            встык
        </td>
        <td colspan="3">
            внахлест
        </td>
        <td>
            внахлест
        </td>
    </tr>
    <tr>
        <td colspan="3">
            Цвет исполнения
        </td>
        <td colspan="3">
            все цвета RAL
        </td>
        <td colspan="3">
            белый матовый, металлик, золото, супер-хром
        </td>
        <td>
            белый матовый
        </td>
    </tr>
    <tr>
        <td colspan="3">
            Несущая способность
        </td>
        <td>
            15/12
        </td>
        <td>
            13,5
        </td>
        <td>
            13,5
        </td>
        <td>
            7,5
        </td>
        <td>
            8
        </td>
        <td>
            7
        </td>
        <td>
            4,3
        </td>
    </tr>
</table>
