<p>
    Потолочная система функциональных потолков «MULTI», позволяет принципиально 
    изменить представление о подвесных конструкциях, используемых для облицовки 
    потолочной зоны. Система изменяется в зависимости от выбранного дизайна 
    интерьера или планировки пространства в помещении.
</p>
<h4>Функциональные преимущества:</h4>

<strong>Описание</strong>
<p>
    Система функциональных потолков «MULTI» состоит из: основных (несущих) секций профиля,
    смыкающихся между собой под прямым углом в узлы Т-образного и крестообразного 
    пересечения, вспомогательных секций профиля, которые разбивают образуемое несущими
    секциями пространство для установки в последующем элементов-заполнителей.
</p>
<strong>Удобство и универсальность эксплуатации</strong>
<ul>
    <li>Уникальной особенностью системы становится возможность с функциональной точки зрения преобразовать помещение, а именно скрыть и упорядочить все инженерные коммуникации и кабели, находящиеся в потолочной зоне.</li>
    <li>Крестообразное соединение профилей обеспечивает простой доступ и разделение кабелей в несущих и второстепенных профилях, глубина профилей позволяет размещать в них электрические розетки.</li>
    <li>Геометрия профиля позволяет закрепить «рейлы», выставочные образцы, рекламные вывески.</li>
</ul>
<strong>Дизайнерские возможности</strong>
<ul>
    <li>Система функциональных потолков «MULTI» позволяет менять дизайн потолочного пространства, образуя различные комбинации профилей и выбирая разнообразные продукты в качестве декоративных элементов-наполнителей.</li>
    <li>В зависимости от желания заказчика элементами могут выступать кассетные потолки, потолки из ПВС, перфорированные панели, потолки Грильято, а также многие другие.</li>
    <li>Дополнительно в панельные элементы-заполнители можно устанавливать врезные точечные светильники.</li>
    <li>Система функциональных потолков может применяться как при строительстве новых зданий, так и в процессе ремонта существующих.</li>
</ul>
<img class="thumbnail" alt="схема MULTI" src="{{ asset('bundles/spbshop/img/797_shema-MULTI.jpg') }}">
<br/>
<strong>Долговечность</strong>
<p>
    Система функциональных потолков «MULTI» требует минимальных затрат в процессе
    эксплуатации. Изменения в планировке помещения не повлияет на систему «MULTI»,
    возможно она потребует небольшой очистки.
</p>
<strong>Звукопоглощение</strong>
<p>
    При участии в качестве элементов-заполнителей акустических материалов система
    выполняет функцию коррекции акустической среды в помещении, создавая 
    комфортные условия для работы и отдыха.
</p>
<strong>Вентиляция и отопление</strong>
<p>
    Система функциональных потолков MULTI позволяет встраивать вентиляционные 
    выходы, а также нагревательные/охлаждающие экраны или использовать как 
    открытые потолки для вентиляции.
</p>
<strong>Акустика</strong>
<p>
    Система выполняет функцию коррекции акустической среды в помещении, 
    создавая комфортные условия для работы и отдыха.
</p>
<strong>Охранная и пожарная сигнализация</strong>
<p>
    Конструкция системы функциональных потолков «MULTI» упрощает установку 
    датчиков пожарной и охранной сигнализации, а также динамиков.
</p>
<strong>Область применения</strong>
<ul>
    <li>Торговые залы, центры</li>
    <li>Выставочные комплексы</li>
    <li>Офисные помещения открытой планировки</li>
</ul>
<strong>Технические характеристики</strong>
<ul>
    <li>Ширина секций профиля: 100/160/200 мм</li>
    <li>Высота секций профиля: 40/80 мм</li>
    <li>Размеры стандартного модуля: 1500/1800/2000 мм</li>
    <li>Возможно изготовление нестандартных размеров по запросу.</li>
</ul>
<strong>Возможности цветового исполнения</strong>
<p>
    Белый, металлик, чёрный, текстура дерева, а также по запросу любой цвет по таблице RAL, в том числе цвет хамелеон.
</p>