{% extends 'SpbShopBundle::layout.html.twig' %}

{% block title %} 
Таблица цветов RAL
{% endblock %}
    
{% block body %}

<ul class="breadcrumb">
    <li><a href="{{ path('spb_home') }}">Главная</a> <span class="divider">/</span></li>
    <li class="active">Таблица цветов RAL</li>
</ul>

<table class="table table-bordered">
    <tbody>
        <tr>
            <td style="text-align: center;" bgcolor="#ccc188">
                <span style="color: rgb(0, 0, 0);">RAL 1000</span></td>
            <td style="text-align: center;" bgcolor="#ceb487">
                <span style="color: rgb(0, 0, 0);">RAL 1001</span></td>
            <td style="text-align: center;" bgcolor="#d0b173">
                <span style="color: rgb(0, 0, 0);">RAL 1002</span></td>
            <td style="text-align: center;" bgcolor="#f2ad00">
                <span style="color: rgb(0, 0, 0);">RAL 1003</span></td>
            <td style="text-align: center;" bgcolor="#e4a700">
                <span style="color: rgb(255, 255, 255);">RAL 1004</span></td>
            <td style="text-align: center;" bgcolor="#c79600">
                <span style="color: rgb(255, 255, 255);">RAL 1005</span></td>
            <td style="text-align: center;" bgcolor="#d99300">
                <span style="color: rgb(255, 255, 255);">RAL 1006</span></td>
            <td style="text-align: center;" bgcolor="#e69400">
                <span style="color: rgb(255, 255, 255);">RAL 1007</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#d8ba2e">
                <span style="color: rgb(0, 0, 0);">RAL 1011</span></td>
            <td style="text-align: center;" bgcolor="#af8552">
                <span style="color: rgb(255, 255, 255);">RAL 1012</span></td>
            <td style="text-align: center;" bgcolor="#e5dfcc">
                <span style="color: rgb(0, 0, 0);">RAL 1013</span></td>
            <td style="text-align: center;" bgcolor="#dfcea1">
                <span style="color: rgb(0, 0, 0);">RAL 1014</span></td>
            <td style="text-align: center;" bgcolor="#e6d9bd">
                <span style="color: rgb(0, 0, 0);">RAL 1015</span></td>
            <td style="text-align: center;" bgcolor="#ecea41">
                <span style="color: rgb(0, 0, 0);">RAL 1016</span></td>
            <td style="text-align: center;" bgcolor="#f6b256">
                <span style="color: rgb(0, 0, 0);">RAL 1017</span></td>
            <td style="text-align: center;" bgcolor="#fdda38">
                <span style="color: rgb(0, 0, 0);">RAL 1018</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#a6937b">
                <span style="color: rgb(255, 255, 255);">RAL 1019</span></td>
            <td style="text-align: center;" bgcolor="#a09465">
                <span style="color: rgb(255, 255, 255);">RAL 1020</span></td>
            <td style="text-align: center;" bgcolor="#f2c000">
                <span style="color: rgb(0, 0, 0);">RAL 1021</span></td>
            <td style="text-align: center;" bgcolor="#f2bf00">
                <span style="color: rgb(0, 0, 0);">RAL 1023</span></td>
            <td style="text-align: center;" bgcolor="#b89650">
                <span style="color: rgb(255, 255, 255);">RAL 1024</span></td>
            <td style="text-align: center;" bgcolor="#a4861a">
                <span style="color: rgb(255, 255, 255);">RAL 1027</span></td>
            <td style="text-align: center;" bgcolor="#ffa600">
                <span style="color: rgb(0, 0, 0);">RAL 1028</span></td>
            <td style="text-align: center;" bgcolor="#e2ac00">
                <span style="color: rgb(255, 255, 255);">RAL 1032</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#f7a11f">
                <span style="color: rgb(0, 0, 0);">RAL 1033</span></td>
            <td style="text-align: center;" bgcolor="#eba557">
                <span style="color: rgb(0, 0, 0);">RAL 1034</span></td>
            <td style="text-align: center;" bgcolor="#d97604">
                <span style="color: rgb(255, 255, 255);">RAL 2000</span></td>
            <td style="text-align: center;" bgcolor="#bb4926">
                <span style="color: rgb(255, 255, 255);">RAL 2001</span></td>
            <td style="text-align: center;" bgcolor="#c13524">
                <span style="color: rgb(255, 255, 255);">RAL 2002</span></td>
            <td style="text-align: center;" bgcolor="#f97a31">
                <span style="color: rgb(255, 255, 255);">RAL 2003</span></td>
            <td style="text-align: center;" bgcolor="#e8540d">
                <span style="color: rgb(255, 255, 255);">RAL 2004</span></td>
            <td style="text-align: center;" bgcolor="#f46f29">
                <span style="color: rgb(255, 255, 255);">RAL 2008</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#db5316">
                <span style="color: rgb(255, 255, 255);">RAL 2009</span></td>
            <td style="text-align: center;" bgcolor="#d55d23">
                <span style="color: rgb(255, 255, 255);">RAL 2010</span></td>
            <td style="text-align: center;" bgcolor="#ea7625">
                <span style="color: rgb(255, 255, 255);">RAL 2011</span></td>
            <td style="text-align: center;" bgcolor="#d6654e">
                <span style="color: rgb(255, 255, 255);">RAL 2012</span></td>
            <td style="text-align: center;" bgcolor="#a02725">
                <span style="color: rgb(255, 255, 255);">RAL 3000</span></td>
            <td style="text-align: center;" bgcolor="#a0001c">
                <span style="color: rgb(255, 255, 255);">RAL 3001</span></td>
            <td style="text-align: center;" bgcolor="#991424">
                <span style="color: rgb(255, 255, 255);">RAL 3002</span></td>
            <td style="text-align: center;" bgcolor="#870a24">
                <span style="color: rgb(255, 255, 255);">RAL 3003</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#6c1b2a">
                <span style="color: rgb(255, 255, 255);">RAL 3004</span></td>
            <td style="text-align: center;" bgcolor="#581e29">
                <span style="color: rgb(255, 255, 255);">RAL 3005</span></td>
            <td style="text-align: center;" bgcolor="#402226">
                <span style="color: rgb(255, 255, 255);">RAL 3007</span></td>
            <td style="text-align: center;" bgcolor="#6d312b">
                <span style="color: rgb(255, 255, 255);">RAL 3009</span></td>
            <td style="text-align: center;" bgcolor="#791f24">
                <span style="color: rgb(255, 255, 255);">RAL 3011</span></td>
            <td style="text-align: center;" bgcolor="#c68873">
                <span style="color: rgb(255, 255, 255);">RAL 3012</span></td>
            <td style="text-align: center;" bgcolor="#992a28">
                <span style="color: rgb(255, 255, 255);">RAL 3013</span></td>
            <td style="text-align: center;" bgcolor="#cf7278">
                <span style="color: rgb(255, 255, 255);">RAL 3014</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#e3a0ac">
                <span style="color: rgb(0, 0, 0);">RAL 3015</span></td>
            <td style="text-align: center;" bgcolor="#ab392d">
                <span style="color: rgb(255, 255, 255);">RAL 3016</span></td>
            <td style="text-align: center;" bgcolor="#cc515e">
                <span style="color: rgb(255, 255, 255);">RAL 3017</span></td>
            <td style="text-align: center;" bgcolor="#ca3f51">
                <span style="color: rgb(255, 255, 255);">RAL 3018</span></td>
            <td style="text-align: center;" bgcolor="#bf111b">
                <span style="color: rgb(255, 255, 255);">RAL 3020</span></td>
            <td style="text-align: center;" bgcolor="#d36b56">
                <span style="color: rgb(255, 255, 255);">RAL 3022</span></td>
            <td style="text-align: center;" bgcolor="#b01d42">
                <span style="color: rgb(255, 255, 255);">RAL 3027</span></td>
            <td style="text-align: center;" bgcolor="#a7323e">
                <span style="color: rgb(255, 255, 255);">RAL 3031</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#865d86">
                <span style="color: rgb(255, 255, 255);">RAL 4001</span></td>
            <td style="text-align: center;" bgcolor="#8f3f51">
                <span style="color: rgb(255, 255, 255);">RAL 4002</span></td>
            <td style="text-align: center;" bgcolor="#ca5b91">
                <span style="color: rgb(255, 255, 255);">RAL 4003</span></td>
            <td style="text-align: center;" bgcolor="#69193b">
                <span style="color: rgb(255, 255, 255);">RAL 4004</span></td>
            <td style="text-align: center;" bgcolor="#7e63a1">
                <span style="color: rgb(255, 255, 255);">RAL 4005</span></td>
            <td style="text-align: center;" bgcolor="#912d76">
                <span style="color: rgb(255, 255, 255);">RAL 4006</span></td>
            <td style="text-align: center;" bgcolor="#48233e">
                <span style="color: rgb(255, 255, 255);">RAL 4007</span></td>
            <td style="text-align: center;" bgcolor="#853d7d">
                <span style="color: rgb(255, 255, 255);">RAL 4008</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#9d8493">
                <span style="color: rgb(255, 255, 255);">RAL 4009</span></td>
            <td style="text-align: center;" bgcolor="#2f4a71">
                <span style="color: rgb(255, 255, 255);">RAL 5000</span></td>
            <td style="text-align: center;" bgcolor="#0e4666">
                <span style="color: rgb(255, 255, 255);">RAL 5001</span></td>
            <td style="text-align: center;" bgcolor="#162e7b">
                <span style="color: rgb(255, 255, 255);">RAL 5002</span></td>
            <td style="text-align: center;" bgcolor="#193058">
                <span style="color: rgb(255, 255, 255);">RAL 5003</span></td>
            <td style="text-align: center;" bgcolor="#1a1d2a">
                <span style="color: rgb(255, 255, 255);">RAL 5004</span></td>
            <td style="text-align: center;" bgcolor="#004389">
                <span style="color: rgb(255, 255, 255);">RAL 5005</span></td>
            <td style="text-align: center;" bgcolor="#38618c">
                <span style="color: rgb(255, 255, 255);">RAL 5007</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#2d3944">
                <span style="color: rgb(255, 255, 255);">RAL 5008</span></td>
            <td style="text-align: center;" bgcolor="#245878">
                <span style="color: rgb(255, 255, 255);">RAL 5009</span></td>
            <td style="text-align: center;" bgcolor="#00427f">
                <span style="color: rgb(255, 255, 255);">RAL 5010</span></td>
            <td style="text-align: center;" bgcolor="#1a2740">
                <span style="color: rgb(255, 255, 255);">RAL 5011</span></td>
            <td style="text-align: center;" bgcolor="#2781bb">
                <span style="color: rgb(255, 255, 255);">RAL 5012</span></td>
            <td style="text-align: center;" bgcolor="#202e53">
                <span style="color: rgb(255, 255, 255);">RAL 5013</span></td>
            <td style="text-align: center;" bgcolor="#667b9a">
                <span style="color: rgb(255, 255, 255);">RAL 5014</span></td>
            <td style="text-align: center;" bgcolor="#0071b5">
                <span style="color: rgb(255, 255, 255);">RAL 5015</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#004c91">
                <span style="color: rgb(255, 255, 255);">RAL 5017</span></td>
            <td style="text-align: center;" bgcolor="#138992">
                <span style="color: rgb(255, 255, 255);">RAL 5018</span></td>
            <td style="text-align: center;" bgcolor="#005688">
                <span style="color: rgb(255, 255, 255);">RAL 5019</span></td>
            <td style="text-align: center;" bgcolor="#00747d">
                <span style="color: rgb(255, 255, 255);">RAL 5020</span></td>
            <td style="text-align: center;" bgcolor="#00747d">
                <span style="color: rgb(255, 255, 255);">RAL 5021</span></td>
            <td style="text-align: center;" bgcolor="#28275a">
                <span style="color: rgb(255, 255, 255);">RAL 5022</span></td>
            <td style="text-align: center;" bgcolor="#486591">
                <span style="color: rgb(255, 255, 255);">RAL 5023</span></td>
            <td style="text-align: center;" bgcolor="#6391b0">
                <span style="color: rgb(255, 255, 255);">RAL 5024</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#327663">
                <span style="color: rgb(255, 255, 255);">RAL 6000</span></td>
            <td style="text-align: center;" bgcolor="#266d3b">
                <span style="color: rgb(255, 255, 255);">RAL 6001</span></td>
            <td style="text-align: center;" bgcolor="#276230">
                <span style="color: rgb(255, 255, 255);">RAL 6002</span></td>
            <td style="text-align: center;" bgcolor="#4e553d">
                <span style="color: rgb(255, 255, 255);">RAL 6003</span></td>
            <td style="text-align: center;" bgcolor="#004547">
                <span style="color: rgb(255, 255, 255);">RAL 6004</span></td>
            <td style="text-align: center;" bgcolor="#0e4438">
                <span style="color: rgb(255, 255, 255);">RAL 6005</span></td>
            <td style="text-align: center;" bgcolor="#3b3d33">
                <span style="color: rgb(255, 255, 255);">RAL 6006</span></td>
            <td style="text-align: center;" bgcolor="#2b3626">
                <span style="color: rgb(255, 255, 255);">RAL 6007</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#302f22">
                <span style="color: rgb(255, 255, 255);">RAL 6008</span></td>
            <td style="text-align: center;" bgcolor="#213529">
                <span style="color: rgb(255, 255, 255);">RAL 6009</span></td>
            <td style="text-align: center;" bgcolor="#426e38">
                <span style="color: rgb(255, 255, 255);">RAL 6010</span></td>
            <td style="text-align: center;" bgcolor="#68825f">
                <span style="color: rgb(255, 255, 255);">RAL 6011</span></td>
            <td style="text-align: center;" bgcolor="#293a37">
                <span style="color: rgb(255, 255, 255);">RAL 6012</span></td>
            <td style="text-align: center;" bgcolor="#76785b">
                <span style="color: rgb(255, 255, 255);">RAL 6013</span></td>
            <td style="text-align: center;" bgcolor="#443f31">
                <span style="color: rgb(255, 255, 255);">RAL 6014</span></td>
            <td style="text-align: center;" bgcolor="#383b34">
                <span style="color: rgb(255, 255, 255);">RAL 6015</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#00664f">
                <span style="color: rgb(255, 255, 255);">RAL 6016</span></td>
            <td style="text-align: center;" bgcolor="#4d8542">
                <span style="color: rgb(255, 255, 255);">RAL 6017</span></td>
            <td style="text-align: center;" bgcolor="#4b9b3e">
                <span style="color: rgb(255, 255, 255);">RAL 6018</span></td>
            <td style="text-align: center;" bgcolor="#b2d8b4">
                <span style="color: rgb(0, 0, 0);">RAL 6019</span></td>
            <td style="text-align: center;" bgcolor="#394937">
                <span style="color: rgb(255, 255, 255);">RAL 6020</span></td>
            <td style="text-align: center;" bgcolor="#87a180">
                <span style="color: rgb(255, 255, 255);">RAL 6021</span></td>
            <td style="text-align: center;" bgcolor="#3c372a">
                <span style="color: rgb(255, 255, 255);">RAL 6022</span></td>
            <td style="text-align: center;" bgcolor="#008455">
                <span style="color: rgb(255, 255, 255);">RAL 6024</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#56723d">
                <span style="color: rgb(255, 255, 255);">RAL 6025</span></td>
            <td style="text-align: center;" bgcolor="#005c54">
                <span style="color: rgb(255, 255, 255);">RAL 6026</span></td>
            <td style="text-align: center;" bgcolor="#77bbbd">
                <span style="color: rgb(255, 255, 255);">RAL 6027</span></td>
            <td style="text-align: center;" bgcolor="#2e554b">
                <span style="color: rgb(255, 255, 255);">RAL 6028</span></td>
            <td style="text-align: center;" bgcolor="#006f43">
                <span style="color: rgb(255, 255, 255);">RAL 6029</span></td>
            <td style="text-align: center;" bgcolor="#00855a">
                <span style="color: rgb(255, 255, 255);">RAL 6032</span></td>
            <td style="text-align: center;" bgcolor="#3f8884">
                <span style="color: rgb(255, 255, 255);">RAL 6033</span></td>
            <td style="text-align: center;" bgcolor="#75adb1">
                <span style="color: rgb(255, 255, 255);">RAL 6034</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#798790">
                <span style="color: rgb(255, 255, 255);">RAL 7000</span></td>
            <td style="text-align: center;" bgcolor="#8c969f">
                <span style="color: rgb(255, 255, 255);">RAL 7001</span></td>
            <td style="text-align: center;" bgcolor="#8c969f">
                <span style="color: rgb(255, 255, 255);">RAL 7001</span></td>
            <td style="text-align: center;" bgcolor="#827d67">
                <span style="color: rgb(255, 255, 255);">RAL 7002</span></td>
            <td style="text-align: center;" bgcolor="#79796c">
                <span style="color: rgb(255, 255, 255);">RAL 7003</span></td>
            <td style="text-align: center;" bgcolor="#999a9f">
                <span style="color: rgb(255, 255, 255);">RAL 7004</span></td>
            <td style="text-align: center;" bgcolor="#6d7270">
                <span style="color: rgb(255, 255, 255);">RAL 7005</span></td>
            <td style="text-align: center;" bgcolor="#766a5d">
                <span style="color: rgb(255, 255, 255);">RAL 7006</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#756444">
                <span style="color: rgb(255, 255, 255);">RAL 7008</span></td>
            <td style="text-align: center;" bgcolor="#585e55">
                <span style="color: rgb(255, 255, 255);">RAL 7009</span></td>
            <td style="text-align: center;" bgcolor="#565957">
                <span style="color: rgb(255, 255, 255);">RAL 7010</span></td>
            <td style="text-align: center;" bgcolor="#525a60">
                <span style="color: rgb(255, 255, 255);">RAL 7011</span></td>
            <td style="text-align: center;" bgcolor="#575e62">
                <span style="color: rgb(255, 255, 255);">RAL 7012</span></td>
            <td style="text-align: center;" bgcolor="#585346">
                <span style="color: rgb(255, 255, 255);">RAL 7013</span></td>
            <td style="text-align: center;" bgcolor="#4c5057">
                <span style="color: rgb(255, 255, 255);">RAL 7015</span></td>
            <td style="text-align: center;" bgcolor="#363d43">
                <span style="color: rgb(255, 255, 255);">RAL 7016</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#2e3236">
                <span style="color: rgb(255, 255, 255);">RAL 7021</span></td>
            <td style="text-align: center;" bgcolor="#464644">
                <span style="color: rgb(255, 255, 255);">RAL 7022</span></td>
            <td style="text-align: center;" bgcolor="#7f8279">
                <span style="color: rgb(255, 255, 255);">RAL 7023</span></td>
            <td style="text-align: center;" bgcolor="#484b52">
                <span style="color: rgb(255, 255, 255);">RAL 7024</span></td>
            <td style="text-align: center;" bgcolor="#354044">
                <span style="color: rgb(255, 255, 255);">RAL 7026</span></td>
            <td style="text-align: center;" bgcolor="#919089">
                <span style="color: rgb(255, 255, 255);">RAL 7030</span></td>
            <td style="text-align: center;" bgcolor="#5b686f">
                <span style="color: rgb(255, 255, 255);">RAL 7031</span></td>
            <td style="text-align: center;" bgcolor="#b5b5a7">
                <span style="color: rgb(0, 0, 0);">RAL 7032</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#7a8376">
                <span style="color: rgb(255, 255, 255);">RAL 7033</span></td>
            <td style="text-align: center;" bgcolor="#928d75">
                <span style="color: rgb(255, 255, 255);">RAL 7034</span></td>
            <td style="text-align: center;" bgcolor="#c4caca">
                <span style="color: rgb(0, 0, 0);">RAL 7035</span></td>
            <td style="text-align: center;" bgcolor="#949294">
                <span style="color: rgb(255, 255, 255);">RAL 7036</span></td>
            <td style="text-align: center;" bgcolor="#7e8082">
                <span style="color: rgb(255, 255, 255);">RAL 7037</span></td>
            <td style="text-align: center;" bgcolor="#b0b3af">
                <span style="color: rgb(0, 0, 0);">RAL 7038</span></td>
            <td style="text-align: center;" bgcolor="#6d6b64">
                <span style="color: rgb(255, 255, 255);">RAL 7039</span></td>
            <td style="text-align: center;" bgcolor="#9aa0a7">
                <span style="color: rgb(255, 255, 255);">RAL 7040</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#929899">
                <span style="color: rgb(255, 255, 255);">RAL 7042</span></td>
            <td style="text-align: center;" bgcolor="#505455">
                <span style="color: rgb(255, 255, 255);">RAL 7043</span></td>
            <td style="text-align: center;" bgcolor="#bab9b0">
                <span style="color: rgb(0, 0, 0);">RAL 7044</span></td>
            <td style="text-align: center;" bgcolor="#8b7045">
                <span style="color: rgb(255, 255, 255);">RAL 8000</span></td>
            <td style="text-align: center;" bgcolor="#9c6935">
                <span style="color: rgb(255, 255, 255);">RAL 8001</span></td>
            <td style="text-align: center;" bgcolor="#774c3b">
                <span style="color: rgb(255, 255, 255);">RAL 8002</span></td>
            <td style="text-align: center;" bgcolor="#815333">
                <span style="color: rgb(255, 255, 255);">RAL 8003</span></td>
            <td style="text-align: center;" bgcolor="#904e3b">
                <span style="color: rgb(255, 255, 255);">RAL 8004</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#6b442a">
                <span style="color: rgb(255, 255, 255);">RAL 8007</span></td>
            <td style="text-align: center;" bgcolor="#735230">
                <span style="color: rgb(255, 255, 255);">RAL 8008</span></td>
            <td style="text-align: center;" bgcolor="#5b3927">
                <span style="color: rgb(255, 255, 255);">RAL 8011</span></td>
            <td style="text-align: center;" bgcolor="#64312a">
                <span style="color: rgb(255, 255, 255);">RAL 8012</span></td>
            <td style="text-align: center;" bgcolor="#49372a">
                <span style="color: rgb(255, 255, 255);">RAL 8014</span></td>
            <td style="text-align: center;" bgcolor="#5a2e2a">
                <span style="color: rgb(255, 255, 255);">RAL 8015</span></td>
            <td style="text-align: center;" bgcolor="#4f3128">
                <span style="color: rgb(255, 255, 255);">RAL 8016</span></td>
            <td style="text-align: center;" bgcolor="#45302b">
                <span style="color: rgb(255, 255, 255);">RAL 8017</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#3b3332">
                <span style="color: rgb(255, 255, 255);">RAL 8019</span></td>
            <td style="text-align: center;" bgcolor="#1e1a1a">
                <span style="color: rgb(255, 255, 255);">RAL 8022</span></td>
            <td style="text-align: center;" bgcolor="#a45c32">
                <span style="color: rgb(255, 255, 255);">RAL 8023</span></td>
            <td style="text-align: center;" bgcolor="#7b5741">
                <span style="color: rgb(255, 255, 255);">RAL 8024</span></td>
            <td style="text-align: center;" bgcolor="#765d4d">
                <span style="color: rgb(255, 255, 255);">RAL 8025</span></td>
            <td style="text-align: center;" bgcolor="#4f3b2b">
                <span style="color: rgb(255, 255, 255);">RAL 8028</span></td>
            <td style="text-align: center;" bgcolor="#eee9da">
                <span style="color: rgb(0, 0, 0);">RAL 9001</span></td>
            <td style="text-align: center;" bgcolor="#dadbd5">
                <span style="color: rgb(0, 0, 0);">RAL 9002</span></td>
        </tr>
        <tr>
            <td style="text-align: center;" bgcolor="#f8f9fb">
                <span style="color: rgb(0, 0, 0);">RAL 9003</span></td>
            <td style="text-align: center;" bgcolor="#252427">
                <span style="color: rgb(255, 255, 255);">RAL 9004</span></td>
            <td style="text-align: center;" bgcolor="#151619">
                <span style="color: rgb(255, 255, 255);">RAL 9005</span></td>
            <td style="text-align: center;" bgcolor="#f4f4ed">
                <span style="color: rgb(0, 0, 0);">RAL 9010</span></td>
            <td style="text-align: center;" bgcolor="#1f2126">
                <span style="color: rgb(255, 255, 255);">RAL 9011</span></td>
            <td style="text-align: center;" bgcolor="#f3f6f6">
                <span style="color: rgb(0, 0, 0);">RAL9016</span></td>
            <td style="text-align: center;" bgcolor="#1b191d">
                <span style="color: rgb(255, 255, 255);">RAL 9017</span></td>
            <td style="text-align: center;" bgcolor="#cbd2d0">
                <span style="color: rgb(0, 0, 0);">RAL 9018</span></td>
        </tr>
    </tbody>
</table>

<p>
    RAL — немецкий цветовой стандарт, разработанный в 1927 году Государственным комитетом по условиям поставок (Reichsausschuß für Lieferbedingungen (und Gütesicherung)) по просьбе производителей лакокрасочной продукции. Институт установил стандарт на цветовое пространство, разделив его на диапазоны и обозначив каждый цвет однозначным цифровым индексом. С тех пор компания RAL постоянно разрабатывает и добавляет новые образцы цветов, в соответствии с потребностями растущего рынка. Многочисленные нотации, сопровождающие примеры цветов, гарантируют ясное и лаконичное средство коммуникации, которое понятно во многих областях промышленности. Разработанная универсальная система выбора цветов стала незаменимым звеном практически во всех отраслях, где нужно правильное понимание цвета.
</p>

{% endblock %}