<strong>Преимущества:</strong>
<ul>
    <li>
        Грильято «Разноуровневый» создает новое визуальное ощущение, когда все
        потолочное пространство четко поделено на отдельные модули 600х600 мм
        выступающими направляющими. Тем самым создается новое дизайнерское
        решение.
    </li>
    <li>
        Функциональность данного типа потолка позволяет легко
        определить модуль, необходимый для демонтажа и тем самым легко
        проникнуть в запотолочное пространство.
    </li>
</ul>
<strong>Описание:</strong>
<ul>
    <li>
        Потолок Грильято «Разноуровневый» представляет собой объемную решетку 600х600 мм, образованную профилями «мама» и «папа» шириной 5 и 10 мм, высотой 30 мм, 40 и 50 мм, закрепленную на несущие направляющие шириной 10 мм и высотой 50 мм, длиной 600 мм, 1200 мм, 2400 мм.
    </li>
</ul>
<strong>Схема монтажа</strong>
<img class="thumbnail" title="Схема монтажа потолка грильято" src="{{ asset('bundles/spbshop/img/666_38.1.png') }}">
<br/>
<strong>Расчет элементов системы для 1 м<sup>2</sup></strong>

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th rowspan="2">
                Марка системы</th>
            <th rowspan="2">
                Наименование изделия</th>
            <th rowspan="2">
                Марка изделия</th>
            <th rowspan="2">
                Модуль, мм</th>
            <th rowspan="2">
                &nbsp;</th>
            <th colspan="8">
                Расход на 1 м<sup>2</sup></th>
        </tr>
        <tr>
            <th>
                50х50</th>
            <th>
                60х60</th>
            <th>
                75х75</th>
            <th>
                86х86</th>
            <th>
                100х100</th>
            <th>
                120х120</th>
            <th>
                150х150</th>
            <th>
                200х200</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="9">
                Грильято «Разноуровневый»
            </td>
            <td>
                Решетка</td>
            <td>
                РГ</td>
            <td>
                600х600</td>
            <td>
                шт.</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
        </tr>
        <tr>
            <td rowspan="2">
                Количество пластин</td>
            <td>
                «Мама»</td>
            <td>
                600</td>
            <td>
                шт.</td>
            <td>
                11</td>
            <td>
                9</td>
            <td>
                7</td>
            <td>
                6</td>
            <td>
                5</td>
            <td>
                4</td>
            <td>
                3</td>
            <td>
                2</td>
        </tr>
        <tr>
            <td>
                «Папа»</td>
            <td>
                600</td>
            <td>
                шт.</td>
            <td>
                11</td>
            <td>
                9</td>
            <td>
                7</td>
            <td>
                6</td>
            <td>
                5</td>
            <td>
                4</td>
            <td>
                3</td>
            <td>
                2</td>
        </tr>
        <tr>
            <td rowspan="3">
                Несущие направляющие</td>
            <td>
                №1</td>
            <td>
                2400</td>
            <td>
                шт.</td>
            <td>
                0,7</td>
            <td>
                0,7</td>
            <td>
                0,7</td>
            <td>
                0,35</td>
            <td>
                0,35</td>
            <td>
                0,35</td>
            <td>
                0,35</td>
            <td>
                0,35</td>
        </tr>
        <tr>
            <td>
                №2</td>
            <td>
                1200</td>
            <td>
                шт.</td>
            <td>
                -</td>
            <td>
                -</td>
            <td>
                -</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
        </tr>
        <tr>
            <td>
                №3</td>
            <td>
                600</td>
            <td>
                шт.</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                2,78</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
            <td>
                1,39</td>
        </tr>
        <tr>
            <td>
                Соедин. эемент</td>
            <td>
                PG</td>
            <td>
                &nbsp;</td>
            <td>
                шт.</td>
            <td>
                0,7</td>
            <td>
                0,7</td>
            <td>
                0,7</td>
            <td>
                0,35</td>
            <td>
                0,35</td>
            <td>
                0,35</td>
            <td>
                0,35</td>
            <td>
                0,35</td>
        </tr>
        <tr>
            <td>
                Подвес</td>
            <td>
                АП-Г</td>
            <td>
                900</td>
            <td>
                шт.</td>
            <td>
                1,85</td>
            <td>
                1,85</td>
            <td>
                1,85</td>
            <td>
                0,93</td>
            <td>
                0,93</td>
            <td>
                0,93</td>
            <td>
                0,93</td>
            <td>
                0,93</td>
        </tr>
        <tr>
            <td>
                Уголок</td>
            <td>
                PL19x24</td>
            <td>
                &nbsp;</td>
            <td>
                пм.</td>
            <td colspan="8">
                по расчету</td>
        </tr>
    </tbody>
</table>