<strong>Область применения:</strong>
<p>
    Реечные подвесные потолки получили широкое распространение и применение в общественных зданиях, на промышленных объектах, объектах транспорта, а также в лечебно-профилактических и общеобразовательных учреждениях.
</p>
<strong>Преимущества:</strong>
<ul>
    <li>
        Традиционные прямые параллельные линии панелей создают интересные возможности для пространственного дизайна помещений.
    </li>
    <li>
        Помимо множества функциональных задач, которые могут решать металлические реечные потолки, они являются ещё и прекрасным инструментом для формирования индивидуального дизайна интерьера.
    </li>
</ul>
<strong>Технические характеристики:</strong>
<ul>
    <li>
        Реечные панели производятся из листового алюминия толщиной до 0,6 мм с различными видами декоративных покрытий, выполненных в заводских условиях. Стандартная длина панелей — 3 м и 4 м, возможно изготовление под заказ — до 6 м и свыше. С помощью специальных элементов, панели соединяются по длине и создают эффект непрерывности. Ширина панелей варьирует в пределах от 50 до 200 мм.
    </li>
    <li>
        Реечные панели крепятся к направляющим — гребенкам, выполненным из алюминия толщиной 0,8 и 1,0 мм., или тонколистовой оцинкованной стали толщиной 0,6…0,7 мм.Высеченные в гребенках язычки прочно закрепляют рейку путем защелкивания.
    </li>
    <li>
        При помощи регулируемых пружинных подвесов выполняется крепление подвесного потолка к несущим строительным конструкциям.</li><li>Для оформления периметра используется периметральный профиль PL и П-образный RPP-18, который обрамляет потолок и придает законченность проекту.
    </li>
</ul>
<strong>Возможности цветового исполнения:</strong>
<p>
    Широкая цветовая гамма позволяет создавать неповторимые интерьерные решения, что особенно актуально в настоящее время. Выбор цвета лицевой части панели осуществляется по международной колористической <a title="Таблица RAL" href="{{ path("spb_ral") }}">таблице RAL</a>.
</p>
<p>
    Обратная сторона панели покрыта грунтом или защитным лаком толщиной до 5 мкм.
</p>
<p><u>Стандартные цвета: </u>белый матовый, белый глянец, бежевый, металлик серебристый, металлик матовый, хром, золото, супер-хром, супер-золото, светло-бежевый, супер-хром люкс</p>
<p><u>Дополнительные цвета:</u> светло-серый, черный, синий, малина, руженый, медь, фактура дерева</p>
<strong>Дополнительный возможности:</strong>
<ul>
    <li>
        Дизайнерские материалы, предлагаемые компанией, включают и нестандартные цветовые решения, позволяющие имитировать поверхность различных природных материалов (дерево, гранит), состаренную медь, хамелеон и другие.
    </li>
    <li>
        По желанию заказчика возможно изготовление реечных панелей из просечно-вытяжной сетки.
    </li>
    <li>
        На профиль панели может наноситься дополнительный рельеф (декоративная волнистость) или перфорация, что позволяет избегать плоских форм и создаёт интересные интерьерные решения, соответствующие эстетическим и функциональным требованиям современного строительства.
    </li>
</ul>    