<p>
    Решетки потолочные (диффузоры) используются в приточно-вытяжной вентиляции и
    системах кондиционирования воздуха . Предназначены для монтажа в кассетный подвесной
    потолок в помещениях различных типов и назначений.
</p>
<p>
    Вентиляционная решетка потолочного типа с двусторонней раздачей воздуха для 
    установки в ячейку подвесного потолка размером 600х600 (фактический габаритный
    размер решетки 598х598 мм). Обеспечивает лучшее настилание воздушной струи под
    потолок помещения, а также снижает «просматриваемость» решетки. В качестве
    защитно-декоративного покрытия применяется порошковая полиэфирная краска. 
    Цвет по таблице RAL.
</p>
<strong>Применение</strong>
<br/>
Для кассетного потолка на видимой подвесной системе:
<ul>
    <li>АР300A6(А8)/90°(45°);</li>
    <li>АР600А6(А8)/90°(45°);</li>
    <li>АР300 «BOARD»;</li>
    <li>АР600 «ВOARD»;</li>
    <li>АР600 «LINE».</li>
</ul>
Для кассетного потолка на скрытой подвесной системе:
<ul>
    <li>АР300AС</li>
    <li>АР600АС.</li>
</ul>
