<ul>
    <li>
        Решетки-рассекатели предназначены для крепления светильников AL/R в потолках реечного типа.
    </li>
</ul>
<p>
    <strong>Схема монтажа</strong>
</p>
<img class="thumbnail" src="{{ asset('bundles/spbshop/img/678_9986_15.2.png') }}">
<br/>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка рейки</th>
            <th>Тип светильника</th>
            <th>M, мм</th>
            <th>N, мм</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">1</td>
            <td rowspan="2">A84/А, А84/AC</td>
            <td rowspan="2">AL/R1x36</td>
            <td>750</td>
            <td rowspan="2">84</td>
        </tr>
        <tr>
            <td>1340</td>
        </tr>
        <tr>
            <td rowspan="2">2</td>
            <td rowspan="2">AN85/A , AN85/AC</td>
            <td rowspan="2">AL/R1x36</td>
            <td>75</td>
            <td rowspan="2">85</td>
        </tr>
        <tr>
            <td>1340</td>
        </tr>
        <tr>
            <td rowspan="2">3</td>
            <td rowspan="2">A100/AT</td>
            <td rowspan="2">AL/R1x36</td>
            <td>750</td>
            <td rowspan="2">100</td>
        </tr>
        <tr>
            <td>1340</td>
        </tr>
    </tbody>
</table>