<p>
    <strong>Характеристики реечной системы S-дизайна:</strong>
</p>
<dl class="dl-horizontal">
    <dt>Название:</dt><dd>A25AS, A100AS, A150AS</dd>
    <dt>Ассортиментный ряд:</dt><dd>рейка с закрытыми стыками A25AS, A100AS, A150AS</dd>
    <dt>Гребенка:</dt><dd>BTS /специальная</dd>
    <dt>Длина рейки:</dt><dd>3 и 4 м</dd>
    <dt>Cырье:</dt><dd>рейка с закрытыми стыками выпускается из стандартного сырья 0,42 мм и экономного сырья толщиной 0,32 мм.</dd>
    <dt>Упаковка:</dt><dd>гофрокороб A25AS по 48 реек, A100AS по 52 рейки, A150AS по 32 рейки.</dd>
    <dt>Цветовое исполнение:</dt><dd>белый матовый, металлик, суперхром, цвета серии Decor.</dd>
</dl>

<iframe class="thumbnail" src="http://www.youtube.com/embed/HasnUd4kK8A?rel=0" allowfullscreen="" align="middle" frameborder="0" height="315" width="560"></iframe>

<p>
    <br/><strong>Преимущества новой реечной системы S-дизайна:</strong>
</p>
<ul>
    <li>Новые архитектурные возможности реализации дизайна потолочного пространства.</li>
    <li>Качественные характеристики <strong>новой потолочной рейки S-дизайна</strong> соответствуют европейскому уровню.</li>
    <li>Конкурентоспособность <strong>новой потолочной рейки S-дизайна</strong>обеспечивается и уникальным ценовым предложением: <strong>уровень цены значительно ниже аналогов.</strong></li>
</ul>
<p>
    <strong>Схема монтажа</strong>
</p>
<img class="thumbnail" src="{{ asset('bundles/spbshop/img/s_sborka.png') }}">
<p>
    <br/>
    <strong>Расчет элементов системы с открытыми стыками для 1 м<sup>2</sup></strong>
</p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м<sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="6"> 1</td>
            <td>A25AS</td>
            <td>Рейка</td>
            <td>A25AS</td>
            <td>25</td>
            <td>40 м. п.</td>
        </tr>
        <tr>
            <td>A100AS</td>
            <td>Рейка</td>
            <td>A100AS</td>
            <td>100</td>
            <td>10 м. п.</td>
        </tr>
        <tr>
            <td>A150AS</td>
            <td>Рейка</td>
            <td>A150AS</td>
            <td>150</td>
            <td>6,67 м. п.</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Гребенка</td>
            <td>BTN</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Уголок</td>
            <td>PL 19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>0,83 компл.</td>
        </tr>
    </tbody>
</table> 