<p>
    Предназначен для общего освещения общественных зданий и других аналогичных помещений. 
    Допускается применение светильников для освещения жилых помещений.
</p>
<h4>Функциональные преимущества</h4>
<ul>
    <li>Установка: светильник встраиваемый в видимую подвесную систему «Т-профиль» модулем 600 × 600 мм с видимой частью шириной 24 и 15 мм и высотой вспомогательной полки профиля от 18 до 38 мм</li>
    <li>Конструкция: корпус из листовой стали с полимерным покрытием белого цвета. Внутри корпуса установлена пускорегулирующая аппаратура.</li>
    <li>Оптическая часть: экранирующая зеркальная решетка изготовлена из алюминия</li>
</ul>
<h4><strong>Область применения: </strong></h4>
<ol>
    <li>офисы и торговые центры</li>
    <li>производственно-складские помещения</li>
    <li>рестораны, клубы, отели</li>
    <li>школы и больницы</li>
    <li>вокзалы и аэропорты</li>
</ol>

<p><img  class="thumbnail" src="{{ asset('bundles/spbshop/img/chertezh_rva.png') }}"></p>

<h6>Таблица 1. Коэффициенты отражения</h6>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Артикул</th>
            <th>Мощность, Вт</th>
            <th>Тип лампы*, цоколь</th>
            <th>Габариты АхВхС, мм</th>
            <th>Встраиваемые размеры axb, мм</th>
            <th>Коэффициент мощности cos φ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>RVA 418</td>
            <td>4x18</td>
            <td>T8 G13</td>
            <td>595x610x81</td>
            <td>595х595</td>
            <td>≥ 0,95</td>
        </tr>
        <tr>
            <td>RVA 418m</td>
            <td>4x18</td>
            <td>T8 G13</td>
            <td>595x610x81</td>
            <td>595х595</td>
            <td>≥ 0,85</td>
        </tr>
        <tr>
            <td>RVA 418 Er</td>
            <td>4x18</td>
            <td>T8 G13</td>
            <td>595x610x81</td>
            <td>595х595</td>
            <td>≥ 0,95</td>
        </tr>
        <tr>
            <td>RVA 418m Er</td>
            <td>4x18</td>
            <td>T8 G13</td>
            <td>595x610x81</td>
            <td>595х595</td>
            <td>≥ 0,85</td>
        </tr>
    </tbody>
</table>

<p class="text-right">* Лампы Т8 в комплект поставки не входят</p>

<p>
    Монтаж светильника необходимо производить после сборки потолочной подвесной системы «Т-профиль». 
    Светильник помещают внутрь модуля подвесной системы 600 × 600 мм и закрепляют к 
    черновому потолку при помощи подвесов типа «Альфа-V» (в комплект поставки не входят) 
    или аналогичных им. Корпус светильников должен плотно прилегать к Т-профилю по всему периметру, 
    но не нагружать подвесную потолочную систему.
</p>
<table class="table">
    <tr>
        <td><img  class="thumbnail" src="{{ asset('bundles/spbshop/img/krivaya_sily_sveta_rva.png') }}"></td>
        <td>
            <img class="thumbnail" src="{{ asset('bundles/spbshop/img/rva_znaki.png') }}"><br/>
            <img class="thumbnail" src="{{ asset('bundles/spbshop/img/znaki_legenda.png') }}">
        </td>
    </tr>
</table>
