{% extends 'SpbShopBundle::layout.html.twig' %}

{% block title %} 
Услуги компании "Виктис"
{% endblock %}

{% block body %}

<ul class="breadcrumb">
    <li><a href="{{ path('spb_home') }}">Главная</a> <span class="divider">/</li>
    <li class="active">Услуги компании "Виктис"</li>
</ul>

<p>
    Основная специализация нашей компании – это оптовая и розничная продажа подвесных 
    потолков грильято, реечных потолков, кассетных потолков, потолков из минерального волокна, подвесных 
    потолочных систем, систем для медицинских учреждений, потолочных светильников, 
    профилей и крепежа для ГКЛ и ГВЛ, металлических реечных и кассетных фасадных систем.
</p>
<p>
    Мы ценим время наших покупателей и поэтому мы поддерживаем широкий ассортимент продукции в наличии на складе.
</p>
<p>
    Для того чтобы купить грильято, кассетные, реечные потолки или другую продукцию Вам не обязательно 
    приезжать в наш офис, достаточно позвонить нам – мы подберем оптимальный для Вас 
    вариант, рассчитаем комплектацию и стоимость, доставим товар.
</p>
<p>
    Доставка товара осуществляется по Санкт-Петербургу и области, а также по России.
</p>


<img class="thumbnail" src="{{ asset('bundles/spbshop/img/albes-сert.png') }}" >

{% endblock %}