<p>
    Просечно-вытяжная сетка — это уникальный материал, который изготавливается из 
    металлического листа методом одновременной просечки и вытяжки, что позволяет 
    получить хорошее соотношение веса и прочности.
</p>
<p>
    Благодаря использованию ПВС, архитектурные функции подвесных потолков приобретают 
    новое содержание. Сетка предоставляет неограниченные возможности для создания 
    легких и ажурных интерьеров, реализации интересных дизайнерских решений.
</p>
<p>
    <strong>Эстетический дизайн</strong>
</p>
<p>
    Огромный выбор цветовых решений, текстур материала и конфигураций ячеек позволяет
    реализовывать интересные решения по созданию интерьеров.
</p>
<p>
    <strong>Влагоустойчовость</strong>
</p>
<p>
    Продукция из ПВС не подвержена коррозии, что делает возможным ее применение 
    в помещениях с повышенной влажностью, а также для наружного применения.
</p>
<p>
    <strong>Звукопоглощение</strong>
</p>
<p>
    Высокий коэффициент звукопоглощения делает возможным применение панелей из ПВС
    в помещениях, к которым предъявляются повышенные требования к звукоизоляции.
</p>
<p>
    <strong>Светопроницаемость</strong>
</p>
<p>
    Светопроницемость дополнительные возможности для создания световых эффектов
    при размещении светильников внутри подвесного потолка.
</p>
<p>
    <strong>Противопожарная безопасность</strong>
</p>
<p>
    Продукция из ПВС не требует специальных сертификатов пожарной безопасности.
</p>
<p>
    *По желанию заказчика сетка может быть окрашена в любой цвет по таблице RAL,
    при этом возможна комбинация различных цветовых решений.
    <br>
    *На заказ возможны поставки других типов ПВС с различной конфигурацией и 
    параметрами ячеек.
</p>
<p>
    <strong>Реечный потолок из ПВС</strong>
</p>
<p>
    Сегодня компания «Албес» в России является первопроходцем в производстве 
    реечного потолка из ПВС.
</p>
<p>
    Этот уникальный продукт является прекрасным инструментом для создания 
    индивидуального дизайна интерьера, воплощения в жизнь новаторских идей 
    архитекторов и проектировщиков.
</p>
<p>
    Компания «Виктис» предлагает реечный потолок итальянского дизайна с открытыми 
    стыками, изготовленный из сетки.
</p>
<p>
    <strong>Кассетный потолок из ПВС</strong>
</p>
<p>
    Среди стандартных моделей компания «Албес» предлагает квадратную кассету 
    «Tegular», «Board» размером 600х600 мм для подвесной системы Т-профиль15 мм
    и 24 мм и подвесной системы Bandraster.
</p>
<p>
    * По индивидуальному заказу могут быть выполнены кассеты и других размеров.
</p>
<p>
    <strong>Прямоугольные потолочные и стеновые панели</strong>
</p>
<p>
    Приобретают все большую популярность за счет того, что являются универсальными,
    легкими в монтаже, позволяют скрыть все инженерные коммуникации, при этом визуально
    создавая ощущение легкости и прозрачности.
</p>              