<ul>
    <li>
        Компания «Виктис» реализует широкий спектр специальных профилей, которые 
        придают интерьеру законченный вид.
    </li>
    <li>
        Благодаря различным типоразмерам и цветовой гамме удается достигать 
        идеальных форм и оригинальных дизайнерских решений.
    </li>
    <li>
        Производственные возможности в сочетании с опытом технических специалистов 
        позволяют реализовывать самые сложные и нестандартные проекты.
    </li>
    <li>
        На сегодняшний день для обрамления, стыковки и отделки выпускаются 
        следующие виды профилей:
    </li>
</ul>
<img src="{{ asset('bundles/spbshop/img/600_sp_03.gif') }}" class="thumbnail">
                                  
                                  
              