<p>
    Проверенные  временем классические  рисунки -  сочетание элегантности и строгости с
    прочностью и практичностью. Великолепный выбор  для  картинных галерей
    и магазинов, офисов и больниц, для детских учреждений и дома.
</p>
<h5>Элегантность в непревзойденном разнообразии дизайнов</h5>
<ul>
    <li>
        Коллекция Classic Plus предлагает широкое разнообразие дизайнов:
        от тонких тканей до более плотных. При использовании «правильных» 
        высококачественных красок с помощью цвета можно подчеркнуть  объём и 
        элегантность структуры ткани.
    </li>
    <li>Идеально подходит для любого помещения, так как создает динамичный и естественный вид.</li>
</ul>
<h5>Очевидные преимущества</h5>
<ul>
    <li>Бесконечный выбор  классических дизайнов.</li>
    <li>Элегантные и выразительные структуры ткани.</li>
    <li>
        Отличные водопрочные характеристики, т.е. остаются стабильны как
        в сухом, так и во влажном состоянии. Как следствие – отсутствие жалоб 
        от заказчиков и исполнителей.
    </li>
    <li>Быстрое и легкое нанесение. Как следствие – качество, не превзойденное конкурентами.</li>
</ul>
