<p>
    Идеально подходят как для частных интерьеров, так и для общественных помещений: 
    высококачественные стеклохолсты Витрулан  - это самый лучший материал 
    для того, чтобы сделать стены ровными и гладкими. Просты в применении и 
    экологически безопасны, сертифицированы по европейскому стандарту Eko-Tex.
</p>
<h3>Стеклохолст VP 35</h3>
<p>
    Стеклохолст  VP 35  прекрасно подходит для создания ровной  и 
    гладкой поверхности стен, а также может использоваться в качестве 
    «подложки» для финишного покрытия, например,  декоративной штукатурки. 
    Он надежно армирует мелкие трещины и образует прочную основу для 
    последующей отделки стен.
</p>
<h5>Идеально ровная поверхность</h5>
<p>
    Стеклохолст  VP 35 легко скрывает небольшие поры и трещины 
    стены. После нанесения двух–трех слоев краски стеклохолст приобретает 
    абсолютно гладкую и  ровную поверхность.
</p>
<h5>Ультралегкое покрытие</h5>
<p>
    Благодаря своему минимальному весу стеклохолст VP 35 идеально 
    подходит как для стен, так и для потолочных работ, когда приходится 
    держать обои над головой! Усталость рук навсегда осталась в прошлом!
</p>
<h5>Стабилен  даже во влажном состоянии!</h5>
<p>
    НИ влажность (клей), ни механические нагрузки (перемещение на 
    стене) не оказывают на стеклохолст VP 35 никакого воздействия, он не 
    сморщивается и не растягивается. В результате Вы получаете идеально 
    ровные швы!
</p>
<h5>Легко режется</h5>
<p>
    Стеклохолст VP 35 легко режется  как  в сухом, так и во влажном 
    состоянии. Отдельные полосы стеклохолста можно клеить встык  или с 
    применением техники «двойного разреза». В результате Вы экономите время,
    деньги и Ваши нервы!
</p>

<h3>Стеклохолст VPP 200</h3>
<p>
    Пигментированный стеклохолст VPP 200 станет для Вас самым 
    выгодным приобретением. Благодаря предварительной окраске 
    высококачественным белым пигментом он  наносится легко и быстро и 
    экономит Ваши время и деньги!
</p>
<h5>Превосходный внешний вид</h5>
<p>
    Благодаря сочетанию специальных волокон и смеси из 
    искусственного шелка на основе сложных эфиров  стеклохолст VPP 200 
    создает безупречно  ровную  и гладкую  поверхность стены. Высокая 
    плотность стеклохолста делает его прекрасным декоративным материалом для
    отделки стен и потолков.
</p>
<h5>Ваше здоровье!</h5>
<p>
    Стеклохолст VPP 200 благоприятен для кожи, с ним  легко 
    работать, и он полностью экологически безопасен, что подтверждено 
    российским и европейским сертификатами.
</p>
<h5>Отличная укрывистость</h5>
<p>
    Пигментированный стеклохолст VPP 200  благодаря своей высокой 
    плотности скроет  все недостатки стены, а предварительная грунтовка  
    обеспечит равномерное распределение краски по материалу. Одного слоя 
    матовой или глянцевой краски  вполне достаточно, чтобы придать 
    поверхности превосходный вид.
</p>
<h5>Стабилен даже во влажном состоянии!</h5>
<p>
    Стеклохолст VPP 200 не впитывает клей и его легко перемещать по 
    намазанной клеем поверхности. Ни влага, ни механические нагрузки  не 
    оказывают на него никакого воздействия, он не сморщивается и не 
    растягивается. А в результате – ровная поверхность и безупречные швы!
</p>
<h5>Легко режется</h5>
<p>
    Стеклохолст VPP 200 легко режется как в сухом, так и во влажном 
    состоянии. Он не сминается в результате разрезания – в противоположность
    целлюлозным холстам, и на нем не остается никаких рубцов.
</p>
<h5>Армирует стены</h5>
<p>
    В отличие  от целлюлозных холстов стеклохолст VPP 200 не 
    растягивается. Он не только надежно армирует стену, на которую наклеен, 
    но и предотвращает вероятность появления трещин.
</p>