<h5>Покрытие  для стен, которое «притягивает»!</h5>
<p>
    Стеклоткань Magnet – это инновация «активной» облицовки стен, к 
    тому же без особых затрат! Благодаря их уникальной тыльной стороне с 
    металлическими вкраплениями теперь магниты надежно и безопасно крепятся к
    любой стен. Используйте стены, окружающие вас, как полноценные 
    поверхности для презентаций, работы или игр, дайте волю своим творческим
    способностям. И, кроме того, получите выгоду от уникальных технических и
    оптических свойств высококачественных стеклообоев.
</p>
<h5>Преимущества налицо:</h5>
<ul>
    <li>Ничем не выделяющееся основание стеклоткани Magnet притягивает самые обычные магниты, обеспечивая прочное сцепление по всей площади.</li>
    <li>Дорогие и неудобные планки для крепления, пластины, доски, клейкая лента, пленка и кнопки – все это уже в прошлом.</li>
    <li>
        Теперь для лучшей наглядности вы можете создавать эскизы и 
        чертежи большого формата – для этого у Вас больше места, и, что особенно
        важно, больше возможностей!
    </li>
    <li>В применении стеклоткань Magnet так же проста, как и любые другие стеклообои.</li>
    <li>
        Стеклоткань Magnet удовлетворяет всем требованиям и стандартам и
        как легко чистящееся покрытие могут применяться, например, для стен 
        детской комнаты или операционной, где гигиена очень важна. С подходящим 
        покрытием для стен возможно все!
    </li>
</ul>

<h5>Безграничность применений</h5>

<p>Используйте Витрулан Magnet в качестве площади для презентации, для работы, для размещения информации или для игр.</p>
<dl>
    <dt>В архитектурно-конструкторских бюро:</dt>
    <dd>«Наконец-то мы можем составлять наглядные схемы большого формата!»</dd>
    <dt>В учебных заведениях:</dt>
    <dd>«Успешная презентация без кнопок и клеящей ленты!»</dd>
    <dt>В детском саду:</dt>
    <dd>«Стена становится вертикальной игровой площадкой!»</dd>
    <dt>В рекламном агентстве:</dt>
    <dd>«Теперь проект можно легко изменить в процессе его презентации!»</dd>
    <dt>В аудиториях для семинарских занятий:</dt>
    <dd>«Кнопки и доски остались в прошлом!»</dd>
    <dt>В приемной:</dt>
    <dd>«Прощаемся с плакатами! Успеху нужна свобода!»</dd>
</dl>

<h5>Никаких трудностей и превосходный результат!</h5>
<ul>
    <li>Легкое, безопасное и быстрое нанесение.</li>
    <li>Равномерное нанесение клея и, как следствие, отсутствие «пузырей».</li>
    <li>Никаких проблем со смешиванием клея.</li>
    <li>Никаких долгих и изнурительных ожиданий по «выравниванию» температуры в помещении.</li>
    <li>Никаких сложностей, как при обычном нанесении клея на стену.</li>
</ul>
<h5>И немного больше…</h5>
<p>
    В дополнение к своим инновационным функциям стеклоткань Витрулан 
    magnet по-прежнему дает Вам уникальные технические преимущества 
    стеклотканевых обоев:
</p>
<ul>
    <li>Поверхность стены долгое время остается идеальной благодаря армирующему свойству стеклообоев.</li>
    <li>Не нужно волноваться за свое здоровье, продукт имеет сертификат безопасности Oeko-Tex.</li>
    <li>Стеклообои можно перекрашивать до 10 раз – это позволит Вам сэкономить деньги и время.</li>
</ul>
