<p>
    Идеальны для крупных объектов с большим объемом работ, где в сжатые сроки 
    необходим быстрый и качественный  ремонт. Благодаря уже нанесенному на 
    тыльную сторону стеклообоев  клеевому составу, который активируется 
    обычной водой, Вы  оклеите стены легко , быстро и чисто!  А со 
    специальной Аква-машиной, активирующей клей, с этой работой справится 
    даже ребёнок.
</p>
<h5>Уникальная структура ткани</h5>
<p>
    Стеклообои  Витрулан Aqua Plus Pigment  - это действительно 
    инновационные стеклотканевые обои. Они уже прокрашены одним слоем краски
    и имеют нанесенный на тыльную сторону клеевой состав, что позволяет 
    значительно сократить ваши затраты на расходные материалы по сравнению с
    другими классическими стеклотканевыми обоями. Просто активируйте 
    нанесенный на стеклообои клеевой состав водой из-под крана для получения
    идеального результата. На производстве стеклотканевые  Aqua Plus 
    Pigment пигментируются одним слоем краски, сделанной на основе 
    высококачественных белых красящих пигментов, обычно использующихся в 
    латексных красках. За счет этого Вы экономите на одном этапе работы. 
    Доступные в большом разнообразии дизайнов стеклообои Aqua Plus Pigment 
    позволят Вам отделать комнату намного быстрее и сэкономить на стоимости 
    работ. Стеклообои Aqua Plus Pigment – это идеальное решение для больших 
    проектов, где оперативность и совершенный результат важнее всего.
</p>
<h5>Работаем без клея!</h5>
<ul>
    <li>Не нужно покупать клей.</li>
    <li>Никаких проблем с хранением и сроком годности клея.</li>
    <li>Не нужно везти клей на стройплощадку.</li>
    <li>Требуется меньшая затрата энергии.</li>
    <li>Больше свободного места для других строительных материалов.</li>
</ul>
<h5>Облегчите свою работу!</h5>
<ul>
    <li>Удобны в применении с Аква-машиной.</li>
    <li>Рациональный подход.</li>
    <li>Экономия до 40% рабочего времени.</li>
    <li>Освобождается время для других отделочных работ.</li>
    <li>Всегда чистые рабочие инструменты.</li>
    <li>чистое рабочее место: никаких капель или остатков клея на стройплощадке.</li>
</ul>
<h5>Никаких трудностей и превосходный результат!</h5>
<ul>
    <li>Легкое, безопасное и быстрое нанесение.</li>
    <li>Равномерное нанесение клея и, как следствие, отсутствие 'пузырей'.</li>
    <li>Никаких проблем со смешиванием клея.</li>
    <li>Никаких долгих и изнурительных ожиданий по 'выравниванию' температуры в помещении.</li>
    <li>Никаких сложностей, как при обычном нанесении клея на стену.</li>
</ul>
<h5>Преимущества налицо:</h5>
<ul>
    <li>Широкий выбор дизайнов - от элегантных классических до эксклюзивных, в т.ч. стиля 'кантри'.</li>
    <li>Экономия сил, времени и денег на каждом этапе отделки.</li>
    <li>Идеально для помещений, где требуется оперативный ремонт.</li>
    <li>Предварительная грунтовка облегчает вторичную покраску.</li>
    <li>Легки  в обработке - стабильны в сухом и влажном состоянии.</li>
</ul>