<p>
    Незаменимы для роскошных гостиничных номеров, частных клубов и офисов солидных 
    компаний. Ведущие архитекторы с мировым именем уже давно применяют эту 
    коллекцию, поскольку она отвечает  самым высоким требованиям. Рисунки, 
    созданные с помощью инновационных технологий, можно назвать шедеврами 
    искусства.
</p>
<h5>Уникальная структура ткани</h5>
<p>Благодаря запатентованной технологии плетения «жаккард» 
    стеклообои Phantasy Plus открывают неограниченные возможности для 
    отделки помещений и создания в них индивидуального стиля.</p>
<ul>
    <li>Свыше 60 уникальных дизайнов.</li>
    <li>Легко и просто наклеиваются.</li>
    <li>Долговечное покрытие.</li>
    <li>Совершенный результат при равномерном окрашивании.</li>
    <li>четко выраженный рисунок даже после нанесения нескольких слоев краски.</li>
    <li>Возможность изготовления покрытия по индивидуальным заказам.</li>
</ul>
<h5>Непревзойденный дизайн: специально  для корпоративного стиля</h5>
<p>Phantasy Plus – это единственная в своем роде ткань, при 
    использовании которой все элементы дизайна выглядят с лучшей стороны. 
    Она идеально подходит для банков, гостиниц, клубных помещений, розничных
    магазинов, приемных и офисных помещений.</p>
<ul>
    <li>Индивидуальное настенное покрытие с логотипом Вашей компании, торговой маркой или гербом.</li>
    <li>Элементы корпоративного дизайна идеально сочетаются с рисунками коллекции Phantasy Plus.</li>
    <li>Сохраняются все технологические преимущества покрытия из стекловолокна.</li>
</ul>
<h5>Это то, что нужно</h5>
<ul>
    <li>Если Вы полагаете, что интерьер является отличительной чертой корпоративного стиля.</li>
    <li>Если бордюры и тканая структура желательны для создания индивидуальной атмосферы в помещении.</li>
    <li>В банках и страховых компаниях.</li>
    <li>В гостиницах и ресторанах.</li>
    <li>В бизнес-центрах и аэропортах.</li>
    <li>В профессиональных спортивных клубах.</li>
</ul>