<p>
    Предназначен для общего освещения общественных зданий и других аналогичных помещений. 
    Допускается применение светильников для освещения жилых помещений.
</p>
<h4>Функциональные преимущества</h4>
<ul>
    <li>Установка: крепление на поверхность потолка
    <li>Конструкция: цельнометаллический сварной корпус из листовой стали, покрытый порошковой краской. В корпусе установлена пускорегулирующая аппаратура</li>
    <li>Оптическая часть: экранирующая зеркальная решетка изготовлена из алюминия</li>
</ul>
<h4><strong>Область применения: </strong></h4>
<ol>
    <li>офисы и торговые центры</li>
    <li>производственно-складские помещения</li>
    <li>рестораны, клубы, отели</li>
    <li>школы и больницы</li>
    <li>вокзалы и аэропорты</li>
</ol>

<p><img  class="thumbnail" src="{{ asset('bundles/spbshop/img/chertezh_sva.png') }}"></p>

<h6>Таблица 1. Коэффициенты отражения</h6>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Артикул</th>
            <th>Мощность, Вт</th>
            <th>Тип лампы*, цоколь</th>
            <th>Габариты АхВхС, мм</th>
            <th>Встраиваемые размеры axb, мм</th>
            <th>Коэффициент мощности cos φ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>SVA 418</td>
            <td>4x18</td>
            <td>T8 G13</td>
            <td>610x625x70</td>
            <td>420х420</td>
            <td>≥ 0,95</td>
        </tr>
        <tr>
            <td>SVA 418m</td>
            <td>4x18</td>
            <td>T8 G13</td>
            <td>610x625x70</td>
            <td>420х420</td>
            <td>≥ 0,85</td>
        </tr>
        <tr>
            <td>SVA 418 Er</td>
            <td>4x18</td>
            <td>T8 G13</td>
            <td>610x625x70</td>
            <td>420х420</td>
            <td>≥ 0,95</td>
        </tr>
        <tr>
            <td>SVA 418m Er</td>
            <td>4x18</td>
            <td>T8 G13</td>
            <td>610x625x70</td>
            <td>420х420</td>
            <td>≥ 0,85</td>
        </tr>
    </tbody>
</table>

<p class="text-right">* Лампы Т8 в комплект поставки не входят</p>

<p>
    Монтаж светильника осуществляют непосредственно на поверхность потолка при помощи 
    крепления (в комплект поставки не входит).
</p>
<table class="table">
    <tr>
        <td><img  class="thumbnail" src="{{ asset('bundles/spbshop/img/krivaya_sily_sveta_sva.png') }}"></td>
        <td>
            <img class="thumbnail" src="{{ asset('bundles/spbshop/img/rva_znaki.png') }}"><br/>
            <img class="thumbnail" src="{{ asset('bundles/spbshop/img/znaki_legenda.png') }}">
        </td>
    </tr>
</table>
