<p>
    Система Т-15/41.5 ALBES STRUNA предназначена для монтажа кассетных потолков 
    с кромками Tegular (Албес АР600А8/90°) из окрашенного алюминия или стали, 
    просечно-вытяжной сетки, а также для кассетных потолков из минерального 
    волокна с кромкой MicroLook c распределенной нагрузкой до 15 кг на 1 кв. метр потолка.
</p>
<p>
    <img class="thumbnail" src="{{ asset('bundles/spbshop/img/t_15_albes_struna.jpg') }}">
</p>
<p class="text-error">
    Основная особенность системы Т-15 ALBES STRUNA – это многофункциональность: 
    дизайнерские решения + световые решения + информационные решения.
</p>
<p>
    Подвесная система Т-15 ALBES STRUNA изготовлена из оцинкованной стали и имеет отдельно клепанный замок CLICK.
</p>
<p>
    Соединение профилей происходит «встык» под углом 450, что придает системе эффект монолитности.
</p>
<p>
    Основные направляющие имеют специальное отверстие - пожарный компенсатор, которое компенсирует температурные расширения в случае пожара. Это сохраняет структурную целостность подвесного потолка, удерживает панели на месте и предотвращает обрушение потока при пожаре.
</p>
<p>
    Паз, проходящий по всей длине профиля придает каркасу более эстетичный вид и может быть использован для размещения внутри профиля светодиодной системы освещения помещения, а также для подвеса информационных материалов и указателей.
</p>
<iframe class="thumbnail" allowfullscreen="" src="http://www.youtube.com/embed/jy38987j28g?rel=0" align="middle" frameborder="0" height="315" width="560"></iframe>

<h4>Преимущества подвесной системы Т-15 ALBES STRUNA:</h4>
<ul>
    <li>Произведено РПО «Албес» в России;</li>
    <li>Многофункциональность системы: комбинация дизайнерских и световых решений, а также удобство подвеса информационно- рекламных материалов</li>
    <li>Повышенная несущая способность;</li>
    <li>Уникальная система защелкивающихся замковых соединений «CLICK»;</li>
    <li>Дополнительная жесткость собранного каркаса;</li>
    <li>Точность сборки каркаса;</li>
    <li>Прочность профиля на скручивание;</li>
    <li>Высокая коррозионная стойкость;</li>
    <li>Класс горючести — НГ;</li>
    <li>Удобен при монтаже и демонтаже;</li>
    <li>Возможность размещать светодиодное освещение помещения внутри профиля.</li>
</ul>
<p>
    Конструкция замка подвесной системы позволяет неоднократно разъединять и повторно смыкать профили без потери прочности конструкции, что позволяет изменять монтажную схему при перепланировке потолочной зоны и обеспечивает быстрый монтаж подвесной системы. При монтаже и демонтаже подвесной системы не требуется применять специальный инструмент.
</p>
<p>
    Подвесная система Т-15 ALBES STRUNA является несгораемым каркасом (класс горючести - НГ).
</p>
<h4>Области применения подвесной системы Т-15 ALBES STRUNA:</h4>
<p>
    Общественные помещения с повышенными требованиями к дизайну интерьера и качеству отделки, а также с необходимостью устройства равномерного освещения, и возможностью использования подпотолочного пространства для размещения информационно-рекламных материалов.
</p>
<p>
    Т-15 ALBES STRUNA - это лучшее соотношение цена – качество при сравнении с аналогичными продуктами конкурентов, богатый выбор цветовых комбинаций, а также решение различных задач обустройства потолочного пространства.
</p>