<p>
    <strong>Схема монтажа</strong>
</p>
<img class="thumbnail" src="{{ asset('bundles/spbshop/img/647_18.1.png') }}" title="Схема монтажа V-образного реечного потолка">
<p>
    <br/>
    <strong>Расчет элементов системы для 1 м<sup>2</sup></strong>
</p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>№</th>
            <th>Марка</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м<sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1a</td>
            <td middle="" rowspan="7">A50V A70V</td>
            <td>Рейка</td>
            <td>А40/V</td>
            <td>50,0</td>
            <td>20 шт./п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>1б</td>
            <td>Рейка</td>
            <td>A40/V</td>
            <td>70,2</td>
            <td>14,28 шт. /п. м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Раскладка</td>
            <td>ASB-50; 70</td>
            <td>&nbsp;</td>
            <td>20; 14,28 шт. /п. м.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Гребенка</td>
            <td>BT-4-50</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Гребенка</td>
            <td>BT-4-70</td>
            <td>&nbsp;</td>
            <td>0,89 м. п.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Уголок</td>
            <td>PL -19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Подвес</td>
            <td>АП-1</td>
            <td>&nbsp;</td>
            <td>0,8 шт.</td>
        </tr>
    </tbody>
</table> 