<p>Создание выразительного архитектурного облика города, как при строительстве новых зданий, так и при реконструкции уже существующих, во многом определяются качеством конструкции фасадов. Повышение качества фасадов в дальнейшем приводит к существенному сокращению эксплутационных затрат. Всё это возможно только при использовании наиболее эффективных технологий и долговечных строительных материалов, среди которых cвое место занимают металлические вентилируемые фасады.</p>
<p>Современные вентилируемые фасады с воздушным зазором включают в себя слой теплоизоляции, металлическую подконструкцию (каркас), декоративный экран (облицовка), установленный на относе от слоя теплоизоляции.</p>
<p>Вентилируемые фасады получили в настоящее время широкое распространение и имеют ряд преимуществ перед другими способами отделки:</p>
<p><strong>Долговечность</strong><br/>
В зависимости от атмосферных условий навесной вентилируемый фасад не теряет свои эксплуатационные свойства от 20 до 50 лет.</p>
<p><strong>Улучшение звуко- и шумоизоляции</strong><br/>
Навесные вентилируемые фасады с воздушным зазором обеспечивают стабильное улучшение качества звукоизоляции от 10 до 15 дБ.</p>
<p><strong>Улучшение теплоизоляции</strong><br/>
Использование системы навесного вентилируемого фасада позволяет значительно улучшить показатели теплоизоляции ограждающих конструкций. Наличие теплоизоляции и воздушного вентилируемого зазора увеличивает теплоустойчивость наружной стены, уменьшает амплитуду колебаний температуры внутренней её поверхности, что способствует повышению комфортности микроклимата помещения, снижая нагрузку на системы кондиционирования воздуха. Потребность здания в энергии снижается на 30% за счет экономии затрат на отопление и кондиционирование.</p>
<p><strong>Всесезонность монтажа и демонтажа</strong><br/>
Благодаря отсутствию «мокрых» процессов монтаж навесного вентилируемого фасада, в отличие от многослойной штукатурной системы, практически не зависит от погодных условий и может проводиться в любое время года. Все крепления производятся механически.</p>
<p><strong>Неограниченные варианты дизайна</strong><br/>
Разнообразие форматов и цветов облицовочных металлических кассет не ограничивает возможности воплощения дизайнерских идей по модернизации облика зданий. Выбор материала, его фактуры, цвета и т. д. зависит только от архитектурной концепции и пожеланий заказчика.</p>
<p><strong>Легкость конструкции</strong><br/>
Системы навесных вентилируемых фасадов с металлическими кассетами имеют меньший сумарный вес по сравнению с керамическим гранитом и фоиброцементыми плитами, что позволяет применять систему для реконструкции зданий.</p>
<p><strong>Пожарная безопасность</strong><br/>
Система навесных вентилируемых фасадов включает в себя материалы и изделия, относящиеся к категории негорючих и слабогорючих со слабой дымообразующей способностью, малоопасные по токсичности продуктов горения.
</p>